
/* Table of Content
==================================================
	1.0  -  Reset
	1.1  -  Body
	1.2  -  Transition
	1.3  -  Headings
	1.4  -  Fonts
	1.5  -  Text elements
	1.6  -  Tables
	1.7  -  Definition List
	1.8  -  Galleries
	1.9  -  Forms
	1.10  -  Images
	1.11 -  Hr, Margin, Separator
	1.12 - Unit Test Issue Fix
	1.13 - Default Color
	1.14 - IE9 and above override
	1.15 - Responsive*/


/*--------------------------------------------------------------
	1.0 - Reset
--------------------------------------------------------------*/
//@import "./utils/reset";


/*--------------------------------------------------------------
	1.1 - Body
	--------------------------------------------------------------*/

// body
// {
//     font-size: 16px;
//     font-weight: normal;
//     line-height: 28px;
// }
// *,
// *:before,
// *:after
// {
//             box-sizing: border-box; 
//        -moz-box-sizing: border-box;
//     -webkit-box-sizing: border-box;
// }
// body,
// html
// {
//     overflow-x: hidden;
//     width: 100%;
// }
// html
// {
//     height: 100%;
// }

// .uppercase,
// .uppercase *
// {
//     text-transform: uppercase;
// }


/*--------------------------------------------------------------
	1.2 - Transition
	--------------------------------------------------------------*/
// a,
// input[type='submit'],
// input[type='reset'],
// .radio-label input[type='radio'] + span:before
// {
//             transition: all .3s linear; 
//        -moz-transition: all .3s linear;
//         -ms-transition: all .3s linear;
//          -o-transition: all .3s linear;
//     -webkit-transition: all .3s linear;
// }


/*--------------------------------------------------------------
	1.3 - Headings
--------------------------------------------------------------*/


/*--------------------------------------------------------------
	1.4 - Fonts
--------------------------------------------------------------*/

@import "./utils/text_font";

/*--------------------------------------------------------------
	1.5 - Text Elements
--------------------------------------------------------------*/

a
{
    text-decoration: none;
}
a img
{
    border: none;
}

.underline a
{
    border-bottom: 1px solid;
}
.underline.dt-sc-dark-bg a
{
    color: #fff;
}

.large p
{
    font-size: 22px;
    line-height: 34px;
}

strong
{
    font-weight: bold;
}
em
{
    font-style: italic;
}

address
{
    display: block;
    margin: 10px 0 20px;
}
abbr
{
    border-bottom: 1px dotted;
    cursor: help;
}
ins
{
    background: #fff9c0;
}
sub,
sup
{
    font-size: 75%;
    position: relative;
    vertical-align: baseline;
}
sub
{
    bottom: -3px;
}
sup
{
    top: -5px;
}

ul,
ol,
pre,
code
{
    margin-bottom: 20px;
}
pre { border: 1px solid #d1d1d1; font-family: monospace, monospace; font-size: 0.9375rem; line-height: 1.6; margin-top: 0.75em; margin-bottom: 0.75em; max-width: 100%; overflow: auto; white-space: pre; padding: 1.6em; }

small {
    font-size: 80%;
}
// ul
// {
//     list-style-position: inside; 
//     list-style-type: square;
// }
// ul li
// {
//     padding-bottom: 10px;
// }
// ul li ul
// {
//     list-style-type: disc;
//     margin: 10px 0 0; 
//     padding-left: 20px;
// }
ul ul ul
{
    list-style-type: circle; 
    margin-bottom: 0;
}

ol ul,
ol ul ul
{
    margin-bottom: 0;
}
ol ul li:last-child,
ol ul ul li:last-child
{
    padding-bottom: 0;
}
ul ol
{
    margin-bottom: 0;
}
ol li:last-child
{
    padding-bottom: 0;
}
ul li:last-child
{
    padding-bottom: 0;
}

ol
{
    list-style-position: outside;
    list-style-type: decimal;
    padding-left: 20px;
    padding-top: 10px;
}
ol li
{
    padding-bottom: 10px;
}
ol > li > ul {
    margin-top: 8px;
}

ol > li > ul > li > ol {
    margin-left: 20px;
}

ol li ol,
ol ol ol
{
    margin-bottom: 0;
}

blockquote
{
    clear: left; 
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}
blockquote > p
{
    border-bottom: 2px solid;
    border-top: 2px solid;
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 10px; 
    padding: 20px 0;    
}

blockquote.alignleft
{
    float: left; 
    margin-right: 20px;
    text-align: left;
    width: 30%;
}
blockquote.alignright
{
    float: right; 
    margin-left: 20px;
    text-align: left;
    width: 30%;
}
blockquote.aligncenter
{
    text-align: center;
}

.post-edit-link,
.vc_inline-link
{
    background: rgba(0, 0, 0, .05);
    border-radius: 3px;
    clear: both;
    color: #000;
    float: right;
    font-size: 12px; 
    line-height: 24px;
    margin: 20px 0 20px;
    padding: 2px 13px;
}
.post-edit-link:hover,
.vc_inline-link:hover
{
    color: #fff;
}
.vc_inline-link
{
    clear: none;
    margin-right: 10px;
}

.page-link
{
    clear: both;
    float: left;
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.page-link a
{
    border: 1px solid rgba(0, 0, 0, .5);
    color: #303030;
    float: left;
    font-weight: bold;
    line-height: normal;
    margin-right: 10px; 
    padding: 7px 13px 5px;
}
.page-link a span
{
    border: 0;
    color: #303030;
    margin: 0; 
    padding: 0;
}
.page-link > span
{
    border: 1px solid rgba(0, 0, 0, .5);
    color: #fff;
    float: left;
    font-weight: bold;
    line-height: normal;
    margin-right: 10px; 
    padding: 7px 13px 5px;
}
.page-link a:hover span
{
    color: #fff;
}

.text-with-icon
{
    display: inline-block;
}
.text-with-icon .icon,
.text-with-icon .fa
{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px 0 0;
    position: relative;
    top: 1px;
}

::placeholder
{
    color: #7d7d7d !important;
}
input::placeholder
{
    color: #7d7d7d !important;
}
::-webkit-input-placeholder
{
    color: #7d7d7d !important;
}
::-moz-placeholder
{
    color: #7d7d7d !important;
}
:-ms-input-placeholder
{
    color: #7d7d7d !important;
}
:-moz-placeholder
{
    color: #7d7d7d !important;
}

.dt-sc-switcher-back .wpcf7-form .wpcf7-form-control::placeholder
{
    color: #fff !important;
}
.dt-sc-switcher-back .wpcf7-form .wpcf7-form-control input::placeholder
{
    color: #fff !important;
}
.dt-sc-switcher-back .wpcf7-form .wpcf7-form-control::-webkit-input-placeholder
{
    color: #fff !important;
}
.dt-sc-switcher-back .wpcf7-form .wpcf7-form-control::-moz-placeholder
{
    color: #fff !important;
}
.dt-sc-switcher-back .wpcf7-form .wpcf7-form-control:-ms-input-placeholder
{
    color: #fff !important;
}
.dt-sc-switcher-back .wpcf7-form .wpcf7-form-control:-moz-placeholder
{
    color: #fff !important;
}

button.dismissButton
{
    background-color: transparent !important;
    background-image: none;
}

#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow
{
    border-radius: 0;
}
/*--------------------------------------------------------------
	1.6 - Tables
--------------------------------------------------------------*/
@import "./utils/table";

/*--------------------------------------------------------------
	1.7 - Definition Lists
--------------------------------------------------------------*/

    dl { margin:0px 0px; }
	dl.gallery-item { margin:0px; }
	.gallery-caption { margin-bottom:10px; }
	.gallery-item img { border:10px solid rgba(0, 0, 0, 0.1) !important; }
	dt { font-weight:bold; margin-bottom:10px; }
	dd { margin-bottom:20px; line-height:20px; }		 
	.entry-body dd, html:not(.vc_transform) .type-page dd  { margin: 0 1.5em 1.5em; }

/*--------------------------------------------------------------
	1.8 - Galleries
--------------------------------------------------------------*/
@import "./utils/gallery";


/*--------------------------------------------------------------
	1.9 - Forms
--------------------------------------------------------------*/
@import "./utils/form";
/*----*****---- << 1.17 - Contact Form 7 >> ----*****----*/
@import "./utils/form_contact";


/*--------------------------------------------------------------
	1.10 - Images
--------------------------------------------------------------*/

.alignleft,
img.alignleft
{
    display: inline;
    float: left;
    margin-bottom: 10px;
    margin-right: 20px;
}
.alignright,
img.alignright
{
    display: inline;
    float: right;
    margin-bottom: 10px;
    margin-left: 20px;
}
.aligncenter,
img.aligncenter
{
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.column .aligncenter img
{
    display: inline-block;
}
.column.aligncenter
{
    clear: none;
}

.aligncenter.wpb_column
{
    clear: none;
}

.alignright
{
    text-align: right;
}

img.no-bottom-margin
{
    margin-bottom: -10px;
}

.alignleft,
.alignright,
.aligncenter,
.alignnone
{
    margin: auto;
}

.wp-caption { margin-bottom: 15px; max-width:100%; padding: 0; text-align:center; width:100%; }
.wp-caption img { display:block; margin: 0 auto;  max-width:100%; }
.wp-caption-text, .wp-caption-dt { margin: 0; padding: 10px; text-align:center; }
.wp-caption-text:empty, .wp-caption-dt:empty { display: none; }
.wp-caption.alignnone { clear: both; }

.wp-caption.alignright { margin:0.375em 0 1.75em 1.75em; }
.wp-caption.alignleft { margin:0.375em 1.75em 1.75em 0; }

.column img,
.vc_column_container img,
.wpb_column img
{
    display: inherit; 
    height: auto;
    max-width: 100%;
}
img
{
    height: auto; 
    max-width: 100%;
}


/*--------------------------------------------------------------
	1.11 - Hr, Margin, Seperators
	--------------------------------------------------------------*/

.dt-sc-empty-space
{
    clear: both;
    display: block;
}

.dt-sc-hr-invisible-xsmall
{
    clear: both; 
    display: block;
    float: left;
    margin: 15px 0 0;
    width: 100%;
}
.dt-sc-hr-invisible-small
{
    clear: both; 
    display: block;
    float: left;
    margin: 35px 0 0;
    width: 100%;
}
.dt-sc-hr-invisible-medium
{
    clear: both; 
    display: block;
    float: left;
    margin: 55px 0 0;
    width: 100%;
}
.dt-sc-hr-invisible-large
{
    clear: both; 
    display: block;
    float: left;
    margin: 75px 0 0;
    width: 100%;
}
.dt-sc-hr-invisible-xlarge
{
    clear: both; 
    display: block;
    float: left;
    margin: 95px 0 0;
    width: 100%;
}

.dt-sc-hr-top-5
{
    clear: both;
    display: block;
    float: left;
    margin-top: 5px;
    width: 100%;
}
.dt-sc-hr-top-10
{
    clear: both;
    display: block;
    float: left;
    margin-top: 10px;
    width: 100%;
}
.dt-sc-hr-top-20
{
    clear: both;
    display: block;
    float: left;
    margin-top: 20px;
    width: 100%;
}
.dt-sc-hr-top-30
{
    clear: both;
    display: block;
    float: left;
    margin-top: 30px;
    width: 100%;
}
.dt-sc-hr-top-40
{
    clear: both;
    display: block;
    float: left;
    margin-top: 40px;
    width: 100%;
}
.dt-sc-hr-top-50
{
    clear: both;
    display: block;
    float: left;
    margin-top: 50px;
    width: 100%;
}

.dt-sc-small-separator
{
    clear: both;
    display: inline-block;
    height: 3px;
    margin: 0; 
    text-align: center;
    width: 100px;
}
.dt-sc-small-separator.aligncenter
{
    display: block; 
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.dt-sc-small-separator.bottom,
.dt-sc-small-separator.bottom.aligncenter
{
    margin-top: 0;
}
.dt-sc-small-separator.large
{
    width: 180px;
}

.dt-sc-small-separator.black
{
    background: #000;
    height: 3px;
}

.dt-sc-diamond-separator
{
    border-radius: 1px;
    clear: both;
    display: inline-block;
    height: 10px;
    margin: 10px 0 20px;
    position: relative; 
    text-align: center;
            transform: rotate(45deg);
    width: 10px;
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.dt-sc-diamond-separator:before,
.dt-sc-diamond-separator:after
{
    content: '';
    height: 1px;
    left: 6px;
    margin: auto;
    position: absolute;
    top: -26px;
            transform: rotate(-45deg); 
    width: 60px;
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.dt-sc-diamond-separator:after
{
    left: -55px;
    top: 35px;
}
.dt-sc-diamond-separator.aligncenter
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dt-sc-single-line-separator
{
    border-top: 1px solid; 
    clear: both;
    display: block;
    float: left;
    margin: 20px 0;
    width: 100%;
}
.dt-sc-single-line-dashed-separator
{
    border-top: 1px dashed; 
    clear: both;
    display: block;
    float: left;
    margin: 20px 0;
    width: 100%;
}
.dt-sc-single-line-dotted-separator
{
    border-top: 1px dotted; 
    clear: both;
    display: block;
    float: left;
    margin: 20px 0;
    width: 100%;
}

.dt-sc-double-border-separator
{
    clear: both;
    display: block;
    float: left;
    height: 3px;
    margin: -10px 0 30px;
    position: relative; 
    width: 150px;
}
.dt-sc-double-border-separator:before
{
    bottom: -3px;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}

.aligncenter .dt-sc-double-border-separator
{
    display: inline-block; 
    float: none;
}
.dt-sc-double-border-separator.aligncenter
{
    float: none;
    margin: auto;
}

.dt-sc-shadow
{
    /*background: url(../images/services-shadow.png) no-repeat;*/
    clear: both;
    float: left;
    height: 38px; 
    margin: 0;
    padding: 0;
    width: 1168px;
}


/*----*****---- << Fancy Splitter >> --****--*/
.dt-sc-stamp-divider-down
{
    clear: both;
    float: left;
    margin: 0 0 -160px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;
}
.dt-sc-stamp-divider-up
{
    clear: both;
    float: left;
    margin: -150px 0 0;
    padding: 0;
    position: relative;
            transform: rotate(180deg); 
    width: 100%;
    z-index: 1;
        -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}


/*----*****---- << Arrows >> --****--*/
.dt-sc-down-arrow,
.dt-sc-up-arrow,
.dt-sc-up-arrow-bottom
{
    position: relative;
}
.dt-sc-down-arrow:before,
.dt-sc-up-arrow:before,
.dt-sc-up-arrow-bottom:before,
.dt-sc-up-arrow-bottom:after
{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    content: '';
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
}

.dt-sc-down-arrow:before
{
    border-top: 15px solid;
}
.dt-sc-up-arrow:before,
.dt-sc-up-arrow-bottom:before
{
    border-bottom: 15px solid;
    top: -15px;
}

.dt-sc-up-arrow-bottom:before
{
    bottom: 0; 
    top: inherit;
}

.dt-sc-clear
{
    clear: both;
    float: none;
    margin: 0;
    padding: 0;
}

.dt-sc-vertical-small-separator
{
    display: inline-block;
    height: 15px;
    margin: 0 20px; 
    width: 1px;
}
.dt-sc-vertical-separator
{
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.dt-sc-vertical-separator::before
{
    content: '';
    height: 30px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -20px;
    width: 1px;
}


/*----*****---- <<  Prettyphoto >> ----*****----*/
body div.pp_overlay
{
    z-index: 9999;
}


/*----*****---- <<  Ultimate Addon >> ----*****----*/
.ubtn-ctn-center button,
.ubtn-ctn-right button
{
    float: none;
}
.flexslider .slides img
{
    height: auto;
}

.ult-carousel-wrapper .slick-next:before,
.ult-carousel-wrapper .slick-prev:before
{
    display: none;
}

/*----*****---- <<  Visual Composer CSS >> ----*****----*/
.page-template-tpl-onepage #primary.content-full-width
{
    padding-bottom: 0;
}

.vc-no-left-padding .vc_column-inner,
.vc-no-left-padding.vc_column_container .vc_column-inner
{
    padding-left: 0;
}
.vc-no-right-padding .vc_column-inner,
.vc-no-right-padding.vc_column_container .vc_column-inner
{
    padding-right: 0;
}

.vc-no-padding .vc_column-inner
{
    padding-left: 0;
    padding-right: 0;
}
.vc-no-margin
{
    margin-left: 0;
    margin-right: 0;
}

.side-navigation-content .container,
#primary.page-with-sidebar .container,
.dt-portfolio-single-details .container
{
    max-width: 100%;
    width: auto;
}

.icon-link-title .vc_column-inner,
.icon-link-title .vc_column-inner .wpb_wrapper
{
    height: 100%;
    width: 100%;
}

.single-dt_doctors .vc-default-row.vc_row,
.single.single-dt_chefs .vc-default-row.vc_row
{
    margin-left: 0;
}

div[class*='bg-opaque'],
section[class*='bg-opaque']
{
    position: relative;
    z-index: 1;
}
div[class*='bg-opaque']:not(.ult-vc-hide-row):before,
div[class*='bg-opaque'] .upb_row_bg:before,
section[class*='bg-opaque']:before
{
    content: '';
    display: inline;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

div[class*='bg-opaque-1']:not(.ult-vc-hide-row):before,
div[class*='bg-opaque-1'].ult-vc-hide-row .upb_row_bg:before,
section[class*='bg-opaque-1']:before
{
    opacity: .1;
}
div[class*='bg-opaque-2']:not(.ult-vc-hide-row):before,
div[class*='bg-opaque-2'].ult-vc-hide-row .upb_row_bg:before,
section[class*='bg-opaque-2']:before
{
    opacity: .2;
}
div[class*='bg-opaque-3']:not(.ult-vc-hide-row):before,
div[class*='bg-opaque-3'].ult-vc-hide-row .upb_row_bg:before,
section[class*='bg-opaque-3']:before
{
    opacity: .3;
}
div[class*='bg-opaque-4']:not(.ult-vc-hide-row):before,
div[class*='bg-opaque-4'].ult-vc-hide-row .upb_row_bg:before,
section[class*='bg-opaque-4']:before
{
    opacity: .4;
}
div[class*='bg-opaque-5']:not(.ult-vc-hide-row):before,
div[class*='bg-opaque-5'].ult-vc-hide-row .upb_row_bg:before,
section[class*='bg-opaque-5']:before
{
    opacity: .5;
}
div[class*='bg-opaque-6']:not(.ult-vc-hide-row):before,
div[class*='bg-opaque-6'].ult-vc-hide-row .upb_row_bg:before,
section[class*='bg-opaque-6']:before
{
    opacity: .6;
}
div[class*='bg-opaque-7']:not(.ult-vc-hide-row):before,
div[class*='bg-opaque-7'].ult-vc-hide-row .upb_row_bg:before,
section[class*='bg-opaque-7']:before
{
    opacity: .7;
}
div[class*='bg-opaque-8']:not(.ult-vc-hide-row):before,
div[class*='bg-opaque-8'].ult-vc-hide-row .upb_row_bg:before,
section[class*='bg-opaque-8']:before
{
    opacity: .8;
}
div[class*='bg-opaque-9']:not(.ult-vc-hide-row):before,
div[class*='bg-opaque-9'].ult-vc-hide-row .upb_row_bg:before,
section[class*='bg-opaque-9']:before
{
    opacity: .9;
}

div[class*='bg-opaque-15']:not(.ult-vc-hide-row):before,
div[class*='bg-opaque-15'].ult-vc-hide-row .upb_row_bg:before,
section[class*='bg-opaque-15']:before
{
    opacity: .15;
}
div[class*='bg-opaque-25']:not(.ult-vc-hide-row):before,
div[class*='bg-opaque-25'].ult-vc-hide-row .upb_row_bg:before,
section[class*='bg-opaque-25']:before
{
    opacity: .25;
}
div[class*='bg-opaque-35']:not(.ult-vc-hide-row):before,
div[class*='bg-opaque-35'].ult-vc-hide-row .upb_row_bg:before,
section[class*='bg-opaque-35']:before
{
    opacity: .35;
}
div[class*='bg-opaque-45']:not(.ult-vc-hide-row):before,
div[class*='bg-opaque-45'].ult-vc-hide-row .upb_row_bg:before,
section[class*='bg-opaque-45']:before
{
    opacity: .45;
}
div[class*='bg-opaque-55']:not(.ult-vc-hide-row):before,
div[class*='bg-opaque-55'].ult-vc-hide-row .upb_row_bg:before,
section[class*='bg-opaque-55']:before
{
    opacity: .55;
}
div[class*='bg-opaque-65']:not(.ult-vc-hide-row):before,
div[class*='bg-opaque-65'].ult-vc-hide-row .upb_row_bg:before,
section[class*='bg-opaque-65']:before
{
    opacity: .65;
}
div[class*='bg-opaque-75']:not(.ult-vc-hide-row):before,
div[class*='bg-opaque-75'].ult-vc-hide-row .upb_row_bg:before,
section[class*='bg-opaque-75']:before
{
    opacity: .75;
}
div[class*='bg-opaque-85']:not(.ult-vc-hide-row):before,
div[class*='bg-opaque-85'].ult-vc-hide-row .upb_row_bg:before,
section[class*='bg-opaque-85']:before
{
    opacity: .85;
}
div[class*='bg-opaque-95']:not(.ult-vc-hide-row):before,
div[class*='bg-opaque-95'].ult-vc-hide-row .upb_row_bg:before,
section[class*='bg-opaque-95']:before
{
    opacity: .95;
}


/*----*****---- <<  "Equal Height" and "Content Alignment" css override >> ----*****----*/

.wrapper .vc_col-has-fill > .vc_column-inner,
.wrapper .vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner,
.wrapper .vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner,
.wrapper .vc_row-has-fill + .vc_vc_row > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner,
.wrapper .vc_row-has-fill + .vc_vc_row_inner > .vc_row > .vc_vc_column_inner > .vc_column_container > .vc_column-inner,
.wrapper .vc_row-has-fill > .vc_column_container > .vc_column-inner,
.wrapper .vc_row-has-fill > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner,
.wrapper .vc_row-has-fill > .vc_vc_column_inner > .vc_column_container > .vc_column-inner,
.wrapper .vc_section.vc_section-has-fill,
.wrapper .vc_section.vc_section-has-fill + .vc_row-full-width + .vc_section,
.wrapper .vc_section.vc_section-has-fill + .vc_section
{
    padding-top: 0;
}

.vc_empty_space
{
    clear: both;
    float: none;
}
.vc_custom_float
{
    float: left;
    width: 100%;
}

.vc_row.vc_row-no-padding .wpb_column
{
    padding-left: 0;
    padding-right: 0;
}
.vc_row[data-vc-full-width].overflow_visible
{
    overflow: visible;
}

.vc_parallax.secondary-skin-bg.transparent:before
{
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.vc_row.vc_row-flex > .dt-sc-stretch-row-content,
.vc_row.vc_row-flex > .dt-sc-stretch-row-content > .vc_column_container
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.vc_row.vc_row-flex > .dt-sc-stretch-row-content
{
    display: table;
    width: 100%;
}
.vc_row.vc_row-flex > .dt-sc-stretch-row-content > .vc_column_container
{
    display: flex;
}

.vc_row.vc_row-flex > .dt-sc-stretch-row-content > .vc_column_container > .vc_column-inner
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.vc_row.vc_row-flex > .dt-sc-stretch-row-content > .vc_column_container > .vc_column-inner
{
    display: flex;
            flex-direction: column; ;

    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
}

@media (-ms-high-contrast: active),
	(-ms-high-contrast: none)
{
    .vc_row.vc_row-flex > .dt-sc-stretch-row-content > .vc_column_container > .vc_column-inner > *
    {
        min-height: 1em;
    }
}

.vc_row.vc_row-o-content-top > .dt-sc-stretch-row-content > .vc_column_container > .vc_column-inner
{
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
            justify-content: flex-start;
}

.vc_row.vc_row-o-content-top:not(.vc_row-o-equal-height) > .dt-sc-stretch-row-content > .vc_column_container
{
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
            align-items: flex-start;
}

.vc_row.vc_row-o-content-bottom > .dt-sc-stretch-row-content > .vc_column_container > .vc_column-inner
{
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
            justify-content: flex-end;
}

.vc_row.vc_row-o-content-bottom:not(.vc_row-o-equal-height) > .dt-sc-stretch-row-content > .vc_column_container
{
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
            align-items: flex-end;
}

.vc_row.vc_row-o-content-middle > .dt-sc-stretch-row-content > .vc_column_container > .vc_column-inner
{
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}

.vc_row.vc_row-o-content-middle:not(.vc_row-o-equal-height) > .dt-sc-stretch-row-content > .vc_column_container
{
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.vc_row.vc_column-gap-1 > .dt-sc-stretch-row-content > .vc_column_container
{
    padding: .5px;
}
.vc_row.vc_column-gap-2 > .dt-sc-stretch-row-content > .vc_column_container
{
    padding: 1px;
}
.vc_row.vc_column-gap-3 > .dt-sc-stretch-row-content > .vc_column_container
{
    padding: 1.5px;
}
.vc_row.vc_column-gap-4 > .dt-sc-stretch-row-content > .vc_column_container
{
    padding: 2px;
}
.vc_row.vc_column-gap-5 > .dt-sc-stretch-row-content > .vc_column_container
{
    padding: 2.5px;
}
.vc_row.vc_column-gap-10 > .dt-sc-stretch-row-content > .vc_column_container
{
    padding: 5px;
}
.vc_row.vc_column-gap-15 > .dt-sc-stretch-row-content > .vc_column_container
{
    padding: 7.5px;
}
.vc_row.vc_column-gap-20 > .dt-sc-stretch-row-content > .vc_column_container
{
    padding: 10px;
}
.vc_row.vc_column-gap-25 > .dt-sc-stretch-row-content > .vc_column_container
{
    padding: 12.5px;
}
.vc_row.vc_column-gap-30 > .dt-sc-stretch-row-content > .vc_column_container
{
    padding: 15px;
}
.vc_row.vc_column-gap-35 > .dt-sc-stretch-row-content > .vc_column_container
{
    padding: 17.5px;
}

.vc_row-has-fill + .vc_row-full-width + .vc_row > .dt-sc-stretch-row-content > .vc_column_container > .vc_column-inner,
.vc_row-has-fill + .vc_row > .dt-sc-stretch-row-content > .vc_column_container > .vc_column-inner,
.vc_row-has-fill + .vc_vc_row > .vc_row > .vc_vc_column > .dt-sc-stretch-row-content > .vc_column_container > .vc_column-inner,
.vc_row-has-fill + .vc_vc_row_inner > .vc_row > .vc_vc_column_inner > .dt-sc-stretch-row-content > .vc_column_container > .vc_column-inner,
.vc_row-has-fill > .dt-sc-stretch-row-content > .vc_column_container > .vc_column-inner,
.vc_row-has-fill > .vc_row > .vc_vc_column > .dt-sc-stretch-row-content > .vc_column_container > .vc_column-inner,
.vc_row-has-fill > .vc_vc_column_inner > .dt-sc-stretch-row-content > .vc_column_container > .vc_column-inner
{
    padding-top: 35px;
}

.vc_row.vc_column-gap-1 > .vc_vc_column > .dt-sc-stretch-row-content > .vc_column_container,
.vc_row.vc_column-gap-1 > .vc_vc_column_inner > .dt-sc-stretch-row-content > .vc_column_container
{
    padding-left: .5px;
    padding-right: .5px;
}

.vc_row.vc_column-gap-2 > .vc_vc_column > .dt-sc-stretch-row-content > .vc_column_container,
.vc_row.vc_column-gap-2 > .vc_vc_column_inner > .dt-sc-stretch-row-content > .vc_column_container
{
    padding-left: 1px;
    padding-right: 1px;
}

.vc_row.vc_column-gap-3 > .vc_vc_column > .dt-sc-stretch-row-content > .vc_column_container,
.vc_row.vc_column-gap-3 > .vc_vc_column_inner > .dt-sc-stretch-row-content > .vc_column_container
{
    padding-left: 1.5px;
    padding-right: 1.5px;
}

.vc_row.vc_column-gap-4 > .vc_vc_column > .dt-sc-stretch-row-content > .vc_column_container,
.vc_row.vc_column-gap-4 > .vc_vc_column_inner > .dt-sc-stretch-row-content > .vc_column_container
{
    padding-left: 2px;
    padding-right: 2px;
}

.vc_row.vc_column-gap-5 > .vc_vc_column > .dt-sc-stretch-row-content > .vc_column_container,
.vc_row.vc_column-gap-5 > .vc_vc_column_inner > .dt-sc-stretch-row-content > .vc_column_container
{
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.vc_row.vc_column-gap-10 > .vc_vc_column > .dt-sc-stretch-row-content > .vc_column_container,
.vc_row.vc_column-gap-10 > .vc_vc_column_inner > .dt-sc-stretch-row-content > .vc_column_container
{
    padding-left: 5px;
    padding-right: 5px;
}

.vc_row.vc_column-gap-15 > .vc_vc_column > .dt-sc-stretch-row-content > .vc_column_container,
.vc_row.vc_column-gap-15 > .vc_vc_column_inner > .dt-sc-stretch-row-content > .vc_column_container
{
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.vc_row.vc_column-gap-20 > .vc_vc_column > .dt-sc-stretch-row-content > .vc_column_container,
.vc_row.vc_column-gap-20 > .vc_vc_column_inner > .dt-sc-stretch-row-content > .vc_column_container
{
    padding-left: 10px;
    padding-right: 10px;
}

.vc_row.vc_column-gap-25 > .vc_vc_column > .dt-sc-stretch-row-content > .vc_column_container,
.vc_row.vc_column-gap-25 > .vc_vc_column_inner > .dt-sc-stretch-row-content > .vc_column_container
{
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.vc_row.vc_column-gap-30 > .vc_vc_column > .dt-sc-stretch-row-content > .vc_column_container,
.vc_row.vc_column-gap-30 > .vc_vc_column_inner > .dt-sc-stretch-row-content > .vc_column_container
{
    padding-left: 15px;
    padding-right: 15px;
}

.vc_row.vc_column-gap-35 > .vc_vc_column > .dt-sc-stretch-row-content > .vc_column_container,
.vc_row.vc_column-gap-35 > .vc_vc_column_inner > .dt-sc-stretch-row-content > .vc_column_container
{
    padding-left: 17.5px;
    padding-right: 17.5px;
}

.vc_row.vc_row-flex > .vc_vc_column > .dt-sc-stretch-row-content > .vc_column_container,
.vc_row.vc_row-flex > .vc_vc_column_inner > .dt-sc-stretch-row-content > .vc_column_container
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    width: 100%;
}

.vc_row.vc_row-flex > .vc_vc_column > .dt-sc-stretch-row-content > .vc_column_container > .vc_column-inner,
.vc_row.vc_row-flex > .vc_vc_column_inner > .dt-sc-stretch-row-content > .vc_column_container > .vc_column-inner
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-direction: column; ;

    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    webkit-flex-direction: column;
    ms-flex-direction: column;
}

.vc_row.vc_row-o-equal-height > .dt-sc-stretch-row-content > .vc_column_container
{
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
            align-items: stretch;
}

.vc_row.vc_row-o-content-top > .vc_vc_column > .dt-sc-stretch-row-content > .vc_column_container > .vc_column-inner,
.vc_row.vc_row-o-content-top > .vc_vc_column_inner > .dt-sc-stretch-row-content > .vc_column_container > .vc_column-inner
{
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
            justify-content: flex-start;
}
.vc_row.vc_row-o-content-top:not(.vc_row-o-equal-height) > .vc_vc_column > .dt-sc-stretch-row-content > .vc_column_container,
.vc_row.vc_row-o-content-top:not(.vc_row-o-equal-height) > .vc_vc_column_inner > .dt-sc-stretch-row-content > .vc_column_container
{
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
            align-items: flex-start;
}

.vc_row.vc_row-o-content-bottom > .vc_vc_column > .dt-sc-stretch-row-content > .vc_column_container > .vc_column-inner,
.vc_row.vc_row-o-content-bottom > .vc_vc_column_inner > .dt-sc-stretch-row-content > .vc_column_container > .vc_column-inner
{
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
            justify-content: flex-end;
}


.vc_row.vc_row-o-content-bottom:not(.vc_row-o-equal-height) > .vc_vc_column > .dt-sc-stretch-row-content > .vc_column_container,
.vc_row.vc_row-o-content-bottom:not(.vc_row-o-equal-height) > .vc_vc_column_inner > .dt-sc-stretch-row-content > .vc_column_container
{
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
            align-items: flex-end;
}

.vc_row.vc_row-o-content-middle > .vc_vc_column > .dt-sc-stretch-row-content > .vc_column_container > .vc_column-inner,
.vc_row.vc_row-o-content-middle > .vc_vc_column_inner > .dt-sc-stretch-row-content > .vc_column_container > .vc_column-inner
{
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}

.vc_row.vc_row-o-content-middle:not(.vc_row-o-equal-height) > .vc_vc_column > .dt-sc-stretch-row-content > .vc_column_container,
.vc_row.vc_row-o-content-middle:not(.vc_row-o-equal-height) > .vc_vc_column_inner > .dt-sc-stretch-row-content > .vc_column_container
{
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}


.flex-col-elements-inline-middle.vc_column_container > .vc_column-inner > .wpb_wrapper
{
    display: -webkit-flex;
    display:    -moz-flex;
    display: -ms-flexbox;
    display:     -ms-flex;
    display:         flex;

    -webkit-align-items: center;
       -moz-align-items: center;
        -ms-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.flex-col-elements-inline-middle.justify-center.vc_column_container > .vc_column-inner > .wpb_wrapper
{
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}

.flex-col-elements-inline-middle.justify-end.vc_column_container > .vc_column-inner > .wpb_wrapper
{
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
            justify-content: flex-end;
}

.flex-col-elements-inline-middle.stretch.vc_column_container > .vc_column-inner > .wpb_wrapper
{
    height: 100%;
}

/* Privacy Policy*/
.dt-privacy-wrapper
{
    clear: both;
    display: block;
    font-size: 14px;
    padding-top: 5px;
}
.dt-privacy-wrapper input[type='checkbox']
{
    margin-right: 5px;
}
.dt-sc-newsletter-section.type1 h2
{
    padding: 47px 0;
}
.dt-sc-newsletter-section.type1 label
{
    color: #fff;
}
.dt-sc-newsletter-section.type5 .dt-privacy-wrapper
{
    position: relative;
    top: -20px;
}
.dt-sc-newsletter-section.type7 .dt-privacy-wrapper
{
    line-height: none;
    position: absolute;
    top: 65px;
}
.dt-sc-dark-bg a:hover,
.dt-sc-dark-bg label,
.dt-sc-newsletter-section.type1 label a:hover
{
    color: #fff;
}
.dt-sc-newsletter-section.type1 .dt-privacy-wrapper label
{
    color: #fff;
}
.dt-sc-newsletter-section.type3 .dt-privacy-wrapper label
{
    color: inherit;
}
.dt-sc-newsletter-section.type7 .dt-sc-subscribe-frm::before
{
    top: 20px;
}


/*--------------------------------------------------------------
	1.13 - Default Color
	--------------------------------------------------------------*/

.dt-sc-dark-bg
{
    border-color: #fff;
}

abbr
{
    border-color: #222;
}
ins
{
    color: #666;
}

label
{
    color: #2b2b2b;
    font-weight: 600;
    letter-spacing: .2px;
}
input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='range'],
input[type='date'],
textarea,
input.text,
input[type='search'],
textarea
{
    color: #7d7d7d;
}

select,
.form-calender-icon input[type='text']
{
    color: #b4aab4;
}
.form-calender-icon input[type='text'],
.selection-box select
{
    padding-left: 15px;
    padding-right: 50px;
}

::-webkit-input-placeholder
{
    /* Chrome/Opera/Safari */
    color: #666;
}
::-moz-placeholder
{
    /* Firefox 19+ */
    color: #666;
}
:-ms-input-placeholder
{
    /* IE 10+ */
    color: #666;
}
:-moz-placeholder
{
    /* Firefox 18- */
    color: #666;
}

input[type='text']::-moz-input-placeholder,
input[type='text']::-webkit-input-placeholder
{
    color: #666;
}
// input[type='submit'],
// input[type='reset'],
// button,
// input[type='button']
// {
//     color: #fff;
// }

input[type='text']:hover,
input[type='password']:hover,
input[type='email']:hover,
input[type='url']:hover,
input[type='tel']:hover,
input[type='number']:hover,
input[type='range']:hover,
input[type='date']:hover,
textarea:hover,
input.text:hover,
input[type='search']:hover,
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='tel']:focus,
input[type='number']:focus,
input[type='range']:focus,
input[type='date']:focus,
textarea:focus,
input.text:focus,
input[type='search']:focus
{
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}

label span.required
{
    color: #f00;
}

fieldset
{
    border-color: rgba(0, 0, 0, .2);
}
.dt-sc-dark-bg fieldset
{
    border-color: rgba(255, 255, 255, .2);
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='range'],
input[type='date'],
textarea,
input.text,
input[type='search'],
select
{
    border-color: rgba(0, 0, 0, .15);
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='tel']:focus,
input[type='number']:focus,
input[type='range']:focus,
input[type='date']:focus,
textarea:focus,
input.text:focus,
input[type='search']:focus
{
    border-color: #2b2b2b;
}

.selection-box:before
{
    border-top-color: #666;
}

.type6.dtlms-courselist-item-wrapper .dtlms-courselist-details .dtlms-coursedetail-cart-details a.added{ display: none;}


/*----*****---- << Separator >> --****--*/
.dt-sc-dark-bg .dt-sc-skin-highlight .dt-sc-small-separator,
.dt-sc-dark-bg .dt-sc-vertical-small-separator
{
    background: #fff;
}

.dt-sc-single-line-separator
{
    border-top-color: rgba(0, 0, 0, .2);
}
.dt-sc-down-arrow:before
{
    border-top-color: #fff;
}
.dt-sc-up-arrow-bottom:before
{
    border-bottom-color: #fff;
}
.dt-sc-dark-bg .dt-sc-single-line-separator
{
    border-color: rgba(255, 255, 255, .2);
}

.dt-sc-diamond-separator:before,
.dt-sc-diamond-separator:after
{
    background: rgba(0, 0, 0, .1);
}
.dt-sc-dark-bg .dt-sc-diamond-separator:before,
.dt-sc-dark-bg .dt-sc-diamond-separator:after
{
    background: rgba(255, 255, 255, .2);
}

.dt-sc-vertical-separator:before
{
    background: rgba(0, 0, 0, .2);
}

.dt-sc-double-border-separator,
.dt-sc-double-border-separator:before
{
    background: #000;
}


/*--------------------------------------------------------------
	1.14 - IE9 and above override
	--------------------------------------------------------------*/
@media screen and (min-width:0\0)
{
    .selection-box:before,
    .selection-box:after
    {
        background: none;
        border: none;
    }
    .selection-box select
    {
        padding-right: 15px;
        position: relative;
    }
}


/*--------------------------------------------------------------
	1.15 - Responsive
	--------------------------------------------------------------*/
/* Note: Design for a width of 960px */
@media only screen and (min-width:992px) and (max-width:1199px)
{
}

/* Note: Design for a width of 768px */
@media only screen and (min-width:768px) and (max-width:991px)
{
}

/*----*****---- << Mobile (Landscape) >> ----*****----*/

/* Common Styles for the devices below 767px width */
@media only screen and (max-width: 767px)
{
    .vc_row-no-padding .wpb_column
    {
        margin-bottom: 0;
    }
    .vc_row.vc_row-flex > .dt-sc-stretch-row-content,
    .vc_row.vc_row-flex > .dt-sc-stretch-row-content > .vc_column_container
    {
        display: inline-block;
    }

    .flex-col-elements-inline-middle.justify-end.vc_column_container > .vc_column-inner > .wpb_wrapper
    {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
                justify-content: center;
    }

    .dt-sc-newsletter-section.type7 .dt-privacy-wrapper
    {
        position: initial;
    }
}

/*----*****---- << Mobile (Landscape) >> ----*****----*/
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px)
{
    th,
    td,
    tbody th
    {
        font-size: 12px;
    }
}

@media only screen and (max-width: 479px)
{
    .commententries .nav-previous,
    .commententries .nav-next
    {
        text-align: center; 
        width: 100%;
    }

    /*----*****---- << PrettyPhoto >> --****--*/
    .pp_pic_holder
    {
        left: 5% !important;
        overflow: hidden; 
        width: 90% !important;
    }
    .pp_content
    {
        height: auto!important; 
        width: 98%!important;
    }
    .pp_fade
    {
        height: 100%!important; 
        width: 100%!important;
    }
    a.pp_expand,
    a.pp_contract,
    .pp_hoverContainer,
    .pp_gallery
    {
        display: none!important;
    }
    #pp_full_res img
    {
        height: auto!important; 
        width: 100%!important;
    }
    .pp_details
    {
        min-height: 25px; 
        position: static!important;
        width: 100%!important;
    }
    .pp_details a.pp_close
    {
        right: 25px;
    }
    div.pp_default .pp_content_container .pp_details
    {
        margin-top: 15px;
    }

    /*----*****---- << Tooltip >> --****--*/
    #tiptip_content
    {
        font-size: 11px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 320px) and (max-width: 479px)
{
    /*----*****---- << Miscellaneous >> --****--*/
    th,
    td,
    tbody th
    {
        font-size: 10px;
    }
    th
    {
        padding: 10px 6px;
    }
    td,
    tbody th
    {
        padding: 13px 6px;
    }
}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 319px)
{
    h2
    {
        font-size: 22px;
    }

    th,
    td,
    tbody th
    {
        font-size: 8px;
    }
    th
    {
        padding: 12px 0;
    }
    td,
    tbody th
    {
        padding: 10px 0;
    }
}
