

.simple-social-icons {
  >li>a>i {
    color: #969696;
  }
}

.h-110 {
  height: 110px;
}

.type6.dtlms-courselist-item-wrapper .dtlms-courselist-details .dtlms-courselist-metadata-holder p {
  display: inline-block;
  width: auto;
  font-size: 18px;
  font-weight: 500;
  margin: 2px 0 0;
  letter-spacing: -.04em;
  background: none;
  padding: 0;
}

.v-middle {
  vertical-align: middle;
}

.bd-callout-danger {
  border-left-color: #d9534f;
}

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: .25rem;
  border-radius: .25rem;
}