.dt-sc-menu-sorting a {
  color: rgba(0, 237, 164,
.6)
}

.dt-sc-team.type2 .dt-sc-team-thumb .dt-sc-team-thumb-overlay,
.dt-sc-hexagon-image span:before,
.dt-sc-keynote-speakers .dt-sc-speakers-thumb .dt-sc-speakers-thumb-overlay {
  background: rgba(0, 237, 164,
.9)
}

.portfolio .image-overlay,
.recent-portfolio-widget ul li a:before,
.dt-sc-fitness-program-short-details-wrapper .dt-sc-fitness-program-short-details {
  background: rgba(0, 237, 164,
.9)
}

.dt-sc-boxed-style.dt-sc-post-entry .blog-entry.sticky,
.dt-sc-post-entry.entry-cover-layout .blog-entry.sticky {
  box-shadow: inset 0 0 1px 3px #00eda4
}

.apply-no-space .dt-sc-boxed-style.dt-sc-post-entry .blog-entry.sticky,
.apply-no-space .dt-sc-post-entry.entry-cover-layout .blog-entry.sticky {
  box-shadow: inset 0 0 1px 3px #00eda4
}

.dt-sc-simple-style.dt-sc-post-entry.entry-grid-layout .blog-entry.sticky,
.dt-related-carousel div[class*="carousel-"] > div {
  box-shadow: 0 0 1px 1px #00eda4
}

.dt-sc-content-overlay-style.dt-sc-post-entry.entry-grid-layout .blog-entry.sticky .entry-thumb {
  box-shadow: 0 -3px 0 0 #00eda4
}

.dt-sc-modern-style.dt-sc-post-entry .blog-entry:hover {
  box-shadow: 0 5px 0 0 #00eda4
}

.dt-sc-grungy-boxed-style.dt-sc-post-entry .blog-entry:before,
.dt-sc-title-overlap-style.dt-sc-post-entry .blog-entry:before {
  box-shadow: inset 0 0 0 1px #00eda4
}

.dt-sc-icon-box.type10 .icon-wrapper:before,
.dt-sc-pr-tb-col.type2 .dt-sc-tb-header:before {
  box-shadow: 5px 0 0 0 #00eda4
}

.dt-sc-icon-box.type10:hover .icon-wrapper:before {
  box-shadow: 7px 0 0 0 #00eda4
}

.dt-sc-counter.type6 .dt-sc-couter-icon-holder:before {
  box-shadow: 5px 1px 0 0 #00eda4
}

.dt-sc-button.with-shadow.white,
.dt-sc-pr-tb-col.type2 .dt-sc-buy-now a {
  box-shadow: 3px 3px 0 0 #00eda4
}

.dt-sc-icon-box.type3.circle:hover .icon-wrapper {
  box-shadow: 0 0 0 7px rgba(0, 237, 164,
.4)
}

.process .dt-sc-timeline-item:hover .dt-sc-timeline-image,
.process .dt-sc-timeline-item.slick-current .dt-sc-timeline-image {
  box-shadow: 0 0 0 7px #00eda4
}

.carousel_items.testimonial_carousel .dt-sc-testimonial.type1 .dt-sc-testimonial-author span:before {
  box-shadow: 0 0 0 7px inset #00eda4
}

.dt-sc-icon-box.type3.circle:hover .icon-wrapper {
  border-color: rgba(0, 237, 164,
.4)
}

.dt-sc-restaurant-events-list .dt-sc-restaurant-event-details h6:before {
  border-bottom-color: rgba(0, 237, 164,
.6)
}

.portfolio.type4 .image-overlay,
.dt-sc-timeline-section.type4 .dt-sc-timeline-thumb-overlay,
.dt-sc-yoga-classes .dt-sc-yoga-classes-image-wrapper:before,
.dt-sc-yoga-course .dt-sc-yoga-course-thumb-overlay,
.dt-sc-yoga-program .dt-sc-yoga-program-thumb-overlay,
.dt-sc-yoga-pose .dt-sc-yoga-pose-thumb:before,
.dt-sc-yoga-teacher .dt-sc-yoga-teacher-thumb:before,
.dt-sc-doctors .dt-sc-doctors-thumb-overlay,
.dt-sc-event-addon > .dt-sc-event-addon-date,
.dt-sc-course .dt-sc-course-overlay,
.dt-sc-process-steps .dt-sc-process-thumb-overlay {
  background: rgba(0, 237, 164,
.85)
}

.dt-sc-pr-tb-col.type3 .dt-sc-tb-header,
.dt-sc-pr-tb-col.type3:hover .dt-sc-pr-tb-col-wrapper,
.dt-sc-pr-tb-col.type3.selected .dt-sc-pr-tb-col-wrapper,
.dt-sc-pr-tb-col ul.dt-sc-pricing-table-type4-item li.first,
.dt-sc-pr-tb-col:hover ul.dt-sc-pricing-table-type4-item,
.dt-sc-pr-tb-col ul.dt-sc-pricing-table-type4-item.selected {
  background: rgba(0, 237, 164,
.2)
}

@media only screen and (max-width: 767px) {
  .dt-sc-contact-info.type4:after,
.dt-sc-icon-box.type10 .icon-content h4:after,
.dt-sc-counter.type6.last h4::before,
.dt-sc-counter.type6 h4::after {
    background-color: #00eda4
  }
}

@media only screen and (max-width: 767px) {
  .dt-sc-timeline-section.type2,
.dt-sc-timeline-section.type2::before {
    border-color: #00eda4
  }
}

.dt-sc-contact-info.type4:hover span:after {
  -webkit-box-shadow: -5px -5px 0 0px #00eda4;
  -moz-box-shadow: -5px -5px 0 0px #00eda4;
  -ms-box-shadow: -5px -5px 0 0px #00eda4;
  -o-box-shadow: -5px -5px 0 0px #00eda4;
  box-shadow: -5px -5px 0 0px #00eda4
}

.dt-sc-product-image-360-popup-viewer-holder .dt-sc-product-image-360-viewer-enlarger {
  background-color: rgba(0, 237, 164,
.75)
}

.dt-sc-product-image-gallery-container .dt-sc-product-image-gallery-thumb-enlarger {
  background-color: rgba(0, 237, 164,
.95)
}

.woocommerce ul.products.product-border-type-default.product-border-position-left.product-bordershadow-highlight-default li.product .product-wrapper,
.woocommerce ul.products.product-border-type-thumb.product-border-position-left.product-bordershadow-highlight-default li.product .product-thumb,
.woocommerce ul.products.product-border-type-default.product-border-position-left.product-bordershadow-highlight-onhover li.product:hover .product-wrapper,
.woocommerce ul.products.product-border-type-thumb.product-border-position-left.product-bordershadow-highlight-onhover li.product:hover .product-thumb {
  -webkit-box-shadow: -4px 0 0 0 #00eda4;
  box-shadow: -4px 0 0 0 #00eda4
}

.woocommerce ul.products.product-border-type-default.product-border-position-right.product-bordershadow-highlight-default li.product .product-wrapper,
.woocommerce ul.products.product-border-type-thumb.product-border-position-right.product-bordershadow-highlight-default li.product .product-thumb,
.woocommerce ul.products.product-border-type-default.product-border-position-right.product-bordershadow-highlight-onhover li.product:hover .product-wrapper,
.woocommerce ul.products.product-border-type-thumb.product-border-position-right.product-bordershadow-highlight-onhover li.product:hover .product-thumb {
  -webkit-box-shadow: 4px 0 0 0 #00eda4;
  box-shadow: 4px 0 0 0 #00eda4
}

.woocommerce ul.products.product-border-type-default.product-border-position-top.product-bordershadow-highlight-default li.product .product-wrapper,
.woocommerce ul.products.product-border-type-thumb.product-border-position-top.product-bordershadow-highlight-default li.product .product-thumb,
.woocommerce ul.products.product-border-type-default.product-border-position-top.product-bordershadow-highlight-onhover li.product:hover .product-wrapper,
.woocommerce ul.products.product-border-type-thumb.product-border-position-top.product-bordershadow-highlight-onhover li.product:hover .product-thumb {
  -webkit-box-shadow: 0 -4px 0 0 #00eda4;
  box-shadow: 0 -4px 0 0 #00eda4
}

.woocommerce ul.products.product-border-type-default.product-border-position-bottom.product-bordershadow-highlight-default li.product .product-wrapper,
.woocommerce ul.products.product-border-type-thumb.product-border-position-bottom.product-bordershadow-highlight-default li.product .product-thumb,
.woocommerce ul.products.product-border-type-default.product-border-position-bottom.product-bordershadow-highlight-onhover li.product:hover .product-wrapper,
.woocommerce ul.products.product-border-type-thumb.product-border-position-bottom.product-bordershadow-highlight-onhover li.product:hover .product-thumb {
  -webkit-box-shadow: 0 4px 0 0 #00eda4;
  box-shadow: 0 4px 0 0 #00eda4
}

.woocommerce ul.products.product-border-type-default.product-border-position-top-left.product-bordershadow-highlight-default li.product .product-wrapper,
.woocommerce ul.products.product-border-type-thumb.product-border-position-top-left.product-bordershadow-highlight-default li.product .product-thumb,
.woocommerce ul.products.product-border-type-default.product-border-position-top-left.product-bordershadow-highlight-onhover li.product:hover .product-wrapper,
.woocommerce ul.products.product-border-type-thumb.product-border-position-top-left.product-bordershadow-highlight-onhover li.product:hover .product-thumb {
  -webkit-box-shadow: -4px -4px 0 0 #00eda4;
  box-shadow: -4px -4px 0 0 #00eda4
}

.woocommerce ul.products.product-border-type-default.product-border-position-top-right.product-bordershadow-highlight-default li.product .product-wrapper,
.woocommerce ul.products.product-border-type-thumb.product-border-position-top-right.product-bordershadow-highlight-default li.product .product-thumb,
.woocommerce ul.products.product-border-type-default.product-border-position-top-right.product-bordershadow-highlight-onhover li.product:hover .product-wrapper,
.woocommerce ul.products.product-border-type-thumb.product-border-position-top-right.product-bordershadow-highlight-onhover li.product:hover .product-thumb {
  -webkit-box-shadow: 4px -4px 0 0 #00eda4;
  box-shadow: 4px -4px 0 0 #00eda4
}

.woocommerce ul.products.product-border-type-default.product-border-position-bottom-left.product-bordershadow-highlight-default li.product .product-wrapper,
.woocommerce ul.products.product-border-type-thumb.product-border-position-bottom-left.product-bordershadow-highlight-default li.product .product-thumb,
.woocommerce ul.products.product-border-type-default.product-border-position-bottom-left.product-bordershadow-highlight-onhover li.product:hover .product-wrapper,
.woocommerce ul.products.product-border-type-thumb.product-border-position-bottom-left.product-bordershadow-highlight-onhover li.product:hover .product-thumb {
  -webkit-box-shadow: -4px 4px 0 0 #00eda4;
  box-shadow: -4px 4px 0 0 #00eda4
}

.woocommerce ul.products.product-border-type-default.product-border-position-bottom-right.product-bordershadow-highlight-default li.product .product-wrapper,
.woocommerce ul.products.product-border-type-thumb.product-border-position-bottom-right.product-bordershadow-highlight-default li.product .product-thumb,
.woocommerce ul.products.product-border-type-default.product-border-position-bottom-right.product-bordershadow-highlight-onhover li.product:hover .product-wrapper,
.woocommerce ul.products.product-border-type-thumb.product-border-position-bottom-right.product-bordershadow-highlight-onhover li.product:hover .product-thumb {
  -webkit-box-shadow: 4px 4px 0 0 #00eda4;
  box-shadow: 4px 4px 0 0 #00eda4
}

.woocommerce ul.products.product-shadow-type-default.product-shadow-position-default.product-bordershadow-highlight-default li.product .product-wrapper,
.woocommerce ul.products.product-shadow-type-thumb.product-shadow-position-default.product-bordershadow-highlight-default li.product .product-wrapper .product-thumb,
.woocommerce ul.products.product-shadow-type-default.product-shadow-position-default.product-bordershadow-highlight-onhover li.product:hover .product-wrapper,
.woocommerce ul.products.product-shadow-type-thumb.product-shadow-position-default.product-bordershadow-highlight-onhover li.product:hover .product-wrapper .product-thumb {
  -webkit-box-shadow: 0 0 5px 1px #00eda4;
  box-shadow: 0 0 5px 1px #00eda4
}

.woocommerce ul.products.product-shadow-type-default.product-shadow-position-top-left.product-bordershadow-highlight-default li.product .product-wrapper,
.woocommerce ul.products.product-shadow-type-thumb.product-shadow-position-top-left.product-bordershadow-highlight-default li.product .product-thumb,
.woocommerce ul.products.product-shadow-type-default.product-shadow-position-top-left.product-bordershadow-highlight-onhover li.product:hover .product-wrapper,
.woocommerce ul.products.product-shadow-type-thumb.product-shadow-position-top-left.product-bordershadow-highlight-onhover li.product:hover .product-thumb {
  -webkit-box-shadow: -5px -5px 5px 0 #00eda4;
  box-shadow: -5px -5px 5px 0 #00eda4
}

.woocommerce ul.products.product-shadow-type-default.product-shadow-position-top-right.product-bordershadow-highlight-default li.product .product-wrapper,
.woocommerce ul.products.product-shadow-type-thumb.product-shadow-position-top-right.product-bordershadow-highlight-default li.product .product-thumb,
.woocommerce ul.products.product-shadow-type-default.product-shadow-position-top-right.product-bordershadow-highlight-onhover li.product:hover .product-wrapper,
.woocommerce ul.products.product-shadow-type-thumb.product-shadow-position-top-right.product-bordershadow-highlight-onhover li.product:hover .product-thumb {
  -webkit-box-shadow: 5px -5px 5px 0 #00eda4;
  box-shadow: 5px -5px 5px 0 #00eda4
}

.woocommerce ul.products.product-shadow-type-default.product-shadow-position-bottom-left.product-bordershadow-highlight-default li.product .product-wrapper,
.woocommerce ul.products.product-shadow-type-thumb.product-shadow-position-bottom-left.product-bordershadow-highlight-default li.product .product-thumb,
.woocommerce ul.products.product-shadow-type-default.product-shadow-position-bottom-left.product-bordershadow-highlight-onhover li.product:hover .product-wrapper,
.woocommerce ul.products.product-shadow-type-thumb.product-shadow-position-bottom-left.product-bordershadow-highlight-onhover li.product:hover .product-thumb {
  -webkit-box-shadow: -5px 5px 5px 0 #00eda4;
  box-shadow: -5px 5px 5px 0 #00eda4
}

.woocommerce ul.products.product-shadow-type-default.product-shadow-position-bottom-right.product-bordershadow-highlight-default li.product .product-wrapper,
.woocommerce ul.products.product-shadow-type-thumb.product-shadow-position-bottom-right.product-bordershadow-highlight-default li.product .product-thumb,
.woocommerce ul.products.product-shadow-type-default.product-shadow-position-bottom-right.product-bordershadow-highlight-onhover li.product:hover .product-wrapper,
.woocommerce ul.products.product-shadow-type-thumb.product-shadow-position-bottom-right.product-bordershadow-highlight-onhover li.product:hover .product-thumb {
  -webkit-box-shadow: 5px 5px 5px 0 #00eda4;
  box-shadow: 5px 5px 5px 0 #00eda4
}

.dt-sc-event-month-thumb .dt-sc-event-read-more,
.dt-sc-training-thumb-overlay {
  background: rgba(106, 125, 241,
.85)
}

.dt-sc-team.hide-social-role-show-on-hover {
  background: rgba(106, 125, 241,
.05)
}

.dt-sc-contact-info.type4 span:after {
  -webkit-box-shadow: 5px 5px 0 0px #6a7df1;
  -moz-box-shadow: 5px 5px 0 0px #6a7df1;
  -ms-box-shadow: 5px 5px 0 0px #6a7df1;
  -o-box-shadow: 5px 5px 0 0px #6a7df1;
  box-shadow: 5px 5px 0 0px #6a7df1
}

@media only screen and (max-width: 767px) {
  .dt-sc-highlight .dt-sc-testimonial.type6 .dt-sc-testimonial-author:after,
.dt-sc-highlight .dt-sc-testimonial.type6 .dt-sc-testimonial-author:after,
.skin-highlight .dt-sc-testimonial.type6 .dt-sc-testimonial-author:after {
    background-color: #6a7df1
  }
}

.dt-sc-faculty .dt-sc-faculty-thumb-overlay {
  background: rgba(252, 196, 0,
.9)
}

@-webkit-keyframes color-change {
  0% {
    color: #00eda4
  }
  50% {
    color: #6a7df1
  }
  100% {
    color: #fcc400
  }
}

@-moz-keyframes color-change {
  0% {
    color: #00eda4
  }
  50% {
    color: #6a7df1
  }
  100% {
    color: #fcc400
  }
}

@-ms-keyframes color-change {
  0% {
    color: #00eda4
  }
  50% {
    color: #6a7df1
  }
  100% {
    color: #fcc400
  }
}

@-o-keyframes color-change {
  0% {
    color: #00eda4
  }
  50% {
    color: #6a7df1
  }
  100% {
    color: #fcc400
  }
}

@keyframes color-change {
  0% {
    color: #00eda4
  }
  50% {
    color: #6a7df1
  }
  100% {
    color: #fcc400
  }
}

.dt-sc-button.gradient-button, 
.dtlms-course-category-item.type8:hover .dtlms-category-total-items a, 
.dt-sc-icon-box.type3.circle:hover .icon-wrapper span, 
.dtlms-button, 
.type6.dtlms-courselist-item-wrapper .dtlms-courselist-details 
.dtlms-coursedetail-cart-details .added_to_cart, 
.gradient-accordion.dt-sc-toggle-frame-set .dt-sc-toggle-frame h5.dt-sc-toggle-accordion.active,
.gradient-accordion.dt-sc-toggle-group-set .dt-sc-toggle-frame h5.dt-sc-toggle.active,
.dt-sc-team.team-profile .dt-sc-team-thumb::before,
.dtlms-instructor-item.type2.team-profile .dtlms-instructor-item-thumb::before {
  background-image: -webkit-linear-gradient(left, #00eda4, #6a7df1);
  background-image: -moz-linear-gradient(left, #00eda4, #6a7df1);
  background-image: -o-linear-gradient(left, #00eda4, #6a7df1);
  background-image: -ms-linear-gradient(left, #00eda4, #6a7df1);
  background-image: linear-gradient(to right, #00eda4, #6a7df1)
}

.pic-section a.gradient-video-icon {
  background-image: -webkit-linear-gradient(bottom, #00eda4, #6a7df1);
  background-image: -moz-linear-gradient(bottom, #00eda4, #6a7df1);
  background-image: -o-linear-gradient(bottom, #00eda4, #6a7df1);
  background-image: -ms-linear-gradient(bottom, #00eda4, #6a7df1);
  background-image: linear-gradient(to top, #00eda4, #6a7df1)
}

.gradient-progress .dt-sc-progress .dt-sc-bar {
  background-image: -webkit-linear-gradient(left, #6a7df1, #00eda4);
  background-image: -moz-linear-gradient(left, #6a7df1, #00eda4);
  background-image: -o-linear-gradient(left, #6a7df1, #00eda4);
  background-image: -ms-linear-gradient(left, #6a7df1, #00eda4);
  background-image: linear-gradient(to right, #6a7df1, #00eda4)
}

.vc_custom_1543991785292 {
  margin-bottom: 1px !important
}

ul#dt-1505814438196-2a3c6d1c-ff42 > li > a > i {
  color: #969696
}

ul#dt-1505814438196-2a3c6d1c-ff42 > li > a:hover > i {
  color: #00eda4
}

div[id="1543994169863-d38a3c1b-c450"] {
  height: 18px
}

@media (max-width: 767px) {
  div[id="1543994169863-d38a3c1b-c450"] {
    height: 25px
  }
}


div[id="1543994183434-38a0097b-2dfc"] {
  height: 23px
}

@media (max-width: 767px) {
  div[id="1543994183434-38a0097b-2dfc"] {
    height: 10px
  }
}

div#dt-1505814650683-c7fe487c-85b2 ul.dt-primary-nav > li > a {
  font-size: 16px;
  color: #fff
}

div#dt-1505814650683-c7fe487c-85b2 ul.dt-primary-nav > li:hover > a, div#dt-1505814650683-c7fe487c-85b2 ul.dt-primary-nav > li.current-menu-item > a, div#dt-1505814650683-c7fe487c-85b2 ul.dt-primary-nav > li.current-page-item > a, div#dt-1505814650683-c7fe487c-85b2 ul.dt-primary-nav > li.current-menu-ancestor > a, div#dt-1505814650683-c7fe487c-85b2 ul.dt-primary-nav > li.current-page-ancestor > a, div#dt-1505814650683-c7fe487c-85b2 ul.dt-primary-nav > li.current_menu_item > a, div#dt-1505814650683-c7fe487c-85b2 ul.dt-primary-nav > li.current_page_item > a, div#dt-1505814650683-c7fe487c-85b2 ul.dt-primary-nav > li.current_menu_ancestor > a, div#dt-1505814650683-c7fe487c-85b2 ul.dt-primary-nav > li.current_page_ancestor > a {
  color: #00eda4
}

div#dt-1505814650683-c7fe487c-85b2 ul > li:not(.has-mega-menu) ul.sub-menu li > a {
  font-size: 14px
}

div#dt-1505814650683-c7fe487c-85b2 ul.dt-primary-nav > li {
  padding: 13px 2px
}

@media only screen and (max-width: 991px) {
  div#dt-1505814650683-c7fe487c-85b2 {
    display: none
  }

  div#dt-1505814650683-c7fe487c-85b2-mobile {
    display: block
  }

  div#dt-1505814650683-c7fe487c-85b2-mobile .menu-trigger > span {
    color: #fff
  }

  div#dt-1505814650683-c7fe487c-85b2-mobile .menu-trigger > i {
    color: #fff
  }
}

@media only screen and (min-width: 992px) {
  div#dt-1505814650683-c7fe487c-85b2 {
    display: inline-block
  }

  div#dt-1505814650683-c7fe487c-85b2.center {
    display: table
  }

  div#dt-1505814650683-c7fe487c-85b2-mobile, div#dt-1505814650683-c7fe487c-85b2 li.go-back, div#dt-1505814650683-c7fe487c-85b2 li.see-all {
    display: none
  }
}

div[id="1544519798695-5c63f8c0-9a34"] {
  height: 30px
}

div[id="1544014817323-3522653e-5440"] {
  height: 45px
}

div[id="1544073390337-ebf4837a-2c22"] {
  height: 80px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  div[id="1544073390337-ebf4837a-2c22"] {
    height: 0
  }
}

div[id="1544077749008-ed21f2ef-d8fb"] {
  height: 10px
}

div[id="1546932070044-b59c07cf-d096"] {
  height: 0
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  div[id="1546932070044-b59c07cf-d096"] {
    height: 0
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  div[id="1546932070044-b59c07cf-d096"] {
    height: 50px
  }
}

@media (max-width: 767px) {
  div[id="1546932070044-b59c07cf-d096"] {
    height: 0
  }
}

div[id="1544074257214-6837afb6-a921"] {
  height: 40px
}

div[id="1546843349582-2faf8e26-b8ef"] {
  height: 80px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  div[id="1546843349582-2faf8e26-b8ef"] {
    height: 0
  }
}

div[id="1546843350849-b1ce4f57-6508"] {
  height: 10px
}

div[id="1546932078963-74c72d5c-26aa"] {
  height: 0
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  div[id="1546932078963-74c72d5c-26aa"] {
    height: 0
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  div[id="1546932078963-74c72d5c-26aa"] {
    height: 50px
  }
}

@media (max-width: 767px) {
  div[id="1546932078963-74c72d5c-26aa"] {
    height: 0
  }
}

div[id="1546843351512-b981eada-db6a"] {
  height: 40px
}

div[id="1546843384848-04a63a96-b3e8"] {
  height: 80px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  div[id="1546843384848-04a63a96-b3e8"] {
    height: 0
  }
}

div[id="1546843386137-cd78fe0f-0a96"] {
  height: 10px
}

div[id="1546932091972-9943544e-b81f"] {
  height: 0
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  div[id="1546932091972-9943544e-b81f"] {
    height: 0
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  div[id="1546932091972-9943544e-b81f"] {
    height: 50px
  }
}

@media (max-width: 767px) {
  div[id="1546932091972-9943544e-b81f"] {
    height: 0
  }
}

div[id="1546843386972-4d9145ad-aa56"] {
  height: 40px
}

div[id="1544083404097-2ae85809-425e"] {
  height: 75px
}

div[id="1544088596806-9f29dce6-c65f"] {
  height: 90px
}

div[id="1545642487591-b6d228f5-958a"] {
  height: 65px
}

div[id="1544083716476-e2bbf93b-a156"] {
  height: 55px
}

div[id="1544090059205-560f8e32-f68b"] {
  height: 500px
}

div[id="1544093163881-2bade93e-088c"] {
  height: 140px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  div[id="1544093163881-2bade93e-088c"] {
    height: 350px
  }
}

@media (max-width: 767px) {
  div[id="1544093163881-2bade93e-088c"] {
    height: 400px
  }
}

div[id="1544093120228-f3b0e61c-ea60"] {
  height: 30px
}

div[id="1544093208116-42ca53d7-a9f2"] {
  height: 135px
}

@media (max-width: 767px) {
  div[id="1544093208116-42ca53d7-a9f2"] {
    height: 0
  }
}

div[id="1544099881181-00bc13b0-e8ca"] {
  height: 110px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  div[id="1544099881181-00bc13b0-e8ca"] {
    height: 0
  }
}

@media (max-width: 767px) {
  div[id="1544099881181-00bc13b0-e8ca"] {
    height: 50px
  }
}

div[id="1546844269742-1413b3b8-687c"] {
  height: 0
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  div[id="1546844269742-1413b3b8-687c"] {
    height: 50px
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  div[id="1546844269742-1413b3b8-687c"] {
    height: 50px
  }
}

@media (max-width: 767px) {
  div[id="1546844269742-1413b3b8-687c"] {
    height: 50px
  }
}

div[id="1544169976394-18ada913-e3c0"] {
  height: 50px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  div[id="1544169976394-18ada913-e3c0"] {
    height: 50px
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  div[id="1544169976394-18ada913-e3c0"] {
    height: 50px
  }
}

@media (max-width: 767px) {
  div[id="1544169976394-18ada913-e3c0"] {
    height: 50px
  }
}

div[id="1544169545700-5a4d07e5-e269"] {
  height: 100px
}

div[id="1544169908590-f0b13643-c463"] {
  height: 340px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  div[id="1544169908590-f0b13643-c463"] {
    height: 270px
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  div[id="1544169908590-f0b13643-c463"] {
    height: 240px
  }
}

@media (max-width: 767px) {
  div[id="1544169908590-f0b13643-c463"] {
    height: 80px
  }
}

div[id="1544179429029-3e94c87b-eaee"] {
  height: 100px
}

div[id="1544179491125-4d5ad457-863d"] {
  height: 40px
}

div[id="1544179708769-28cebdc0-9ef7"] {
  height: 74px
}

div[id="1544189151344-1be5e12b-00b2"] {
  height: 100px
}

div[id="1544189191558-0a3f674c-664d"] {
  height: 55px
}

div[id="1544188789930-2529bd97-e666"] {
  height: 24px
}

div[id="1544188416595-efc2943d-3ee8"] {
  height: 24px
}

div[id="1544504430139-4b3cb3e1-bb9c"] {
  height: 126px
}

div[id="1544504465971-e1117c58-febd"] {
  height: 40px
}

div[id="1544504511210-53830127-b479"] {
  height: 140px
}

.vc_custom_1546854587495 {
  padding-top: 47px !important
}

.vc_custom_1543997088594 {
  margin-bottom: 0px !important
}

.vc_custom_1545977053576 {
  margin-top: 15px !important;
  margin-bottom: 0px !important
}

.vc_custom_1544012604605 {
  border-top-width: 1px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  border-top-color: rgba(167, 167, 167,
.3) !important;
  border-top-style: solid !important
}

.vc_custom_1550123162012 {
  margin-bottom: 0px !important
}

div[id="1546855116871-c085e00f-0a67"] {
  height: 0
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  div[id="1546855116871-c085e00f-0a67"] {
    height: 0
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  div[id="1546855116871-c085e00f-0a67"] {
    height: 0
  }
}

@media (max-width: 767px) {
  div[id="1546855116871-c085e00f-0a67"] {
    height: 20px
  }
}

ul#dt-1519188770369-91dabd75-a739 > li > a > i {
  color: #fff
}

ul#dt-1519188770369-91dabd75-a739 > li > a > .dt-icon-default:before, ul#dt-1519188770369-91dabd75-a739[data-default-style="filled"][data-default-shape="hexagon"] li a > .dt-icon-default > span:before, ul#dt-1519188770369-91dabd75-a739[data-default-style="filled"][data-default-shape="hexagon"] li a > .dt-icon-default > span:after, ul#dt-1519188770369-91dabd75-a739[data-default-style="filled"][data-default-shape="hexagon-alt"] li a > .dt-icon-default > span:before, ul#dt-1519188770369-91dabd75-a739[data-default-style="filled"][data-default-shape="hexagon-alt"] li a > .dt-icon-default > span:after {
  background-color: #6a7df1
}

ul#dt-1519188770369-91dabd75-a739 > li > a > .dt-icon-default:after, ul#dt-1519188770369-91dabd75-a739[data-default-style="bordered"][data-default-shape="hexagon"] li a > .dt-icon-default > span:before, ul#dt-1519188770369-91dabd75-a739[data-default-style="bordered"][data-default-shape="hexagon"] li a > .dt-icon-default > span:after, ul#dt-1519188770369-91dabd75-a739[data-default-style="bordered"][data-default-shape="hexagon-alt"] li a > .dt-icon-default > span:before, ul#dt-1519188770369-91dabd75-a739[data-default-style="bordered"][data-default-shape="hexagon-alt"] li a > .dt-icon-default > span:after {
  border-color: #6a7df1
}

ul#dt-1519188770369-91dabd75-a739 > li > a:hover > i {
  color: #333
}

ul#dt-1519188770369-91dabd75-a739 > li > a > .dt-icon-hover:before, ul#dt-1519188770369-91dabd75-a739[data-hover-style="filled"][data-hover-shape="hexagon"] li a > .dt-icon-hover > span:before, ul#dt-1519188770369-91dabd75-a739[data-hover-style="filled"][data-hover-shape="hexagon"] li a > .dt-icon-hover > span:after, ul#dt-1519188770369-91dabd75-a739[data-hover-style="filled"][data-hover-shape="hexagon-alt"] li a > .dt-icon-hover > span:before, ul#dt-1519188770369-91dabd75-a739[data-hover-style="filled"][data-hover-shape="hexagon-alt"] li a > .dt-icon-hover > span:after {
  background-color: #fff
}

ul#dt-1519188770369-91dabd75-a739 > li > a > .dt-icon-hover:after, ul#dt-1519188770369-91dabd75-a739[data-hover-style="bordered"][data-hover-shape="hexagon"] li a > .dt-icon-hover > span:before, ul#dt-1519188770369-91dabd75-a739[data-hover-style="bordered"][data-hover-shape="hexagon"] li a > .dt-icon-hover > span:after, ul#dt-1519188770369-91dabd75-a739[data-hover-style="bordered"][data-hover-shape="hexagon-alt"] li a > .dt-icon-hover > span:before, ul#dt-1519188770369-91dabd75-a739[data-hover-style="bordered"][data-hover-shape="hexagon-alt"] li a > .dt-icon-hover > span:after {
  border-color: #fff
}

div[id="1546854591505-67bd1512-468b"] {
  height: 47px
}

@media (max-width: 767px) {
  div[id="1546854591505-67bd1512-468b"] {
    height: 0
  }
}

div[id="1519195285447-7c460f49-c590"] {
  height: 75px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  div[id="1519195285447-7c460f49-c590"] {
    height: 40px
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  div[id="1519195285447-7c460f49-c590"] {
    height: 40px
  }
}

@media (max-width: 767px) {
  div[id="1519195285447-7c460f49-c590"] {
    height: 40px
  }
}

div#dt-1519189229950-911c53e6-7a7a ul.dt-custom-nav li a {
  font-size: 16px;
  text-transform: capitalize
}

div#dt-1519189229950-911c53e6-7a7a ul.dt-custom-nav li a {
  color: #474747
}

div#dt-1519189229950-911c53e6-7a7a ul.dt-custom-nav li a:hover, div#dt-1519189229950-911c53e6-7a7a ul.dt-custom-nav li.current-menu-item > a, div#dt-1519189229950-911c53e6-7a7a ul.dt-custom-nav li.current-page-item > a, div#dt-1519189229950-911c53e6-7a7a ul.dt-custom-nav li.current-menu-ancestor > a, div#dt-1519189229950-911c53e6-7a7a ul.dt-custom-nav li.current-page-ancestor > a, div#dt-1519189229950-911c53e6-7a7a ul.dt-custom-nav li.current_menu_item > a, div#dt-1519189229950-911c53e6-7a7a ul.dt-custom-nav li.current_page_item > a, div#dt-1519189229950-911c53e6-7a7a ul.dt-custom-nav li.current_menu_ancestor > a, div#dt-1519189229950-911c53e6-7a7a ul.dt-custom-nav li.current_page_ancestor > a {
  color: #00eda4
}

div#dt-1519189229950-911c53e6-7a7a ul {
  list-style-position: outside;
  list-style-type: circle
}

div[id="1519192293519-76708d21-fab8"] {
  height: 5px
}

div#dt-1544004496791-17eb3b8c-6723 ul.dt-custom-nav li a {
  font-size: 16px;
  text-transform: capitalize
}

div#dt-1544004496791-17eb3b8c-6723 ul.dt-custom-nav li a {
  color: #474747
}

div#dt-1544004496791-17eb3b8c-6723 ul.dt-custom-nav li a:hover, div#dt-1544004496791-17eb3b8c-6723 ul.dt-custom-nav li.current-menu-item > a, div#dt-1544004496791-17eb3b8c-6723 ul.dt-custom-nav li.current-page-item > a, div#dt-1544004496791-17eb3b8c-6723 ul.dt-custom-nav li.current-menu-ancestor > a, div#dt-1544004496791-17eb3b8c-6723 ul.dt-custom-nav li.current-page-ancestor > a, div#dt-1544004496791-17eb3b8c-6723 ul.dt-custom-nav li.current_menu_item > a, div#dt-1544004496791-17eb3b8c-6723 ul.dt-custom-nav li.current_page_item > a, div#dt-1544004496791-17eb3b8c-6723 ul.dt-custom-nav li.current_menu_ancestor > a, div#dt-1544004496791-17eb3b8c-6723 ul.dt-custom-nav li.current_page_ancestor > a {
  color: #00eda4
}

div#dt-1544004496791-17eb3b8c-6723 ul {
  list-style-position: outside;
  list-style-type: circle
}

div[id="1544006824039-acf0cf66-e70f"] {
  height: 45px
}

div#dt-1544005272349-0c5b5fa0-17f1 ul.dt-custom-nav li a {
  font-size: 16px;
  text-transform: capitalize
}

div#dt-1544005272349-0c5b5fa0-17f1 ul.dt-custom-nav li a {
  color: #474747
}

div#dt-1544005272349-0c5b5fa0-17f1 ul.dt-custom-nav li a:hover, div#dt-1544005272349-0c5b5fa0-17f1 ul.dt-custom-nav li.current-menu-item > a, div#dt-1544005272349-0c5b5fa0-17f1 ul.dt-custom-nav li.current-page-item > a, div#dt-1544005272349-0c5b5fa0-17f1 ul.dt-custom-nav li.current-menu-ancestor > a, div#dt-1544005272349-0c5b5fa0-17f1 ul.dt-custom-nav li.current-page-ancestor > a, div#dt-1544005272349-0c5b5fa0-17f1 ul.dt-custom-nav li.current_menu_item > a, div#dt-1544005272349-0c5b5fa0-17f1 ul.dt-custom-nav li.current_page_item > a, div#dt-1544005272349-0c5b5fa0-17f1 ul.dt-custom-nav li.current_menu_ancestor > a, div#dt-1544005272349-0c5b5fa0-17f1 ul.dt-custom-nav li.current_page_ancestor > a {
  color: #00eda4
}

div#dt-1544005272349-0c5b5fa0-17f1 i.menu-item-icon {
  display: none
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

