$main-color: #3b5998;
$main-bg-color: #e7f3ff;

$white-color : #ffffff;
$theme-color:#00eda4;
$black0: #000000;
$gray-color-1:#eeeeee;
$gray-color-2:#dddddd;
$cadet-blue-color:#00eda4;
$header-bg-color:#222222;
$input-gray: #e5e5e5;
$text-color:$black0;