.vc_custom_1550314310780 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
  background-color: #fafafa !important
}

.vc_custom_1549977671795 {

  //background-position: 0 0 !important;
  background-position:center center !important;
  background-repeat: no-repeat !important
}

.vc_custom_1546857974540 {
  background-color: #fafafa !important
}

.vc_custom_1550317439739 {
  padding-top: 15px !important;
  padding-bottom: 75px !important
}

.vc_custom_1550657038229 {
  border-top-width: 1px !important;
  border-top-color: rgba(0, 0, 0, .1) !important;
  border-top-style: solid !important
}

.vc_custom_1547806749112 {
  margin-bottom: 30px !important
}

.vc_custom_1544073777298 {
  margin-bottom: 30px !important
}

.vc_custom_1544073777298 {
  margin-bottom: 30px !important
}

.vc_custom_1544092581425 {
  margin-bottom: 0px !important
}

.vc_custom_1544092590372 {
  margin-bottom: 0px !important
}

.vc_custom_1544092598219 {
  margin-bottom: 0px !important
}

.vc_custom_1544092606756 {
  margin-bottom: 0px !important
}

.vc_custom_1547892077692 {
  margin-bottom: 30px !important
}

.vc_custom_1546932378864 {
  padding-right: 50px !important;
  padding-left: 50px !important
}

.vc_custom_1546934135103 {
  padding-top: 40px !important;
  padding-bottom: 40px !important
}

.vc_custom_1546934150099 {
  padding-top: 40px !important;
  padding-bottom: 40px !important
}

.vc_custom_1544188469327 {
  margin-top: -10px !important
}

.vc_custom_1550654481156 {
  background-image: url(../images/video-img1.jpg?id=19529) !important;
  background-position: 0 0 !important;
  background-repeat: no-repeat !important
}

.vc_custom_1544188469327 {
  margin-top: -10px !important
}

.vc_custom_1550654501543 {
  background-image: url(../images/video-img2.jpg?id=19530) !important;
  background-position: 0 0 !important;
  background-repeat: no-repeat !important
}