fieldset
{
    border: 1px solid;
    margin: 0 0 20px 0; 
    padding: 15px;
}
legend
{
    font-weight: bold;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='range'],
input[type='date'],
textarea,
input.text,
input[type='search'],
select,
textarea
{
    font-size: 16px;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='range'],
input[type='date'],
textarea,
input.text,
input[type='search'],
input[type='password']
{
    border: 1px solid #f4f4f4;
            border-radius: 30px 5px 5px 5px;
    display: block;
    margin: 0;
    padding: 14px 12px 14px 32px;
    transition: all .3s linear;
    width: 100%;
    -webkit-border-radius: 30px 5px 5px 5px;

    -webkit-appearance: none;
            appearance: none;
}

textarea
{
    height: 115px;
    overflow: auto;
    resize: none;
}

select
{
    border: 1px solid;
            border-radius: 30px 5px 5px 5px;
    cursor: pointer;
    height: 49px;
    margin: 0;
    padding: 10px 0;
    text-indent: .01px;
    text-overflow: '';
    width: 100%;
       -moz-border-radius: 30px 5px 5px 5px;
    -webkit-border-radius: 30px 5px 5px 5px;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

input[type='submit'],
button,
input[type='button'],
input[type='reset']
{
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 0;
    padding: 16px 30px 14px;
    text-transform: capitalize;

    -webkit-appearance: none;
}
.aligncenter input[type='submit']
{
    float: none;
}

.buddypress-wrap .standard-form .groups-members-search input[type=search],
.buddypress-wrap .standard-form .groups-members-search input[type=text],
.buddypress-wrap .standard-form [data-bp-search] input[type=search],
.buddypress-wrap .standard-form [data-bp-search] input[type=text],
.buddypress-wrap .standard-form input[type=color],
.buddypress-wrap .standard-form input[type=date],
.buddypress-wrap .standard-form input[type=datetime-local],
.buddypress-wrap .standard-form input[type=datetime],
.buddypress-wrap .standard-form input[type=email],
.buddypress-wrap .standard-form input[type=month],
.buddypress-wrap .standard-form input[type=number],
.buddypress-wrap .standard-form input[type=password],
.buddypress-wrap .standard-form input[type=range],
.buddypress-wrap .standard-form input[type=search],
.buddypress-wrap .standard-form input[type=tel],
.buddypress-wrap .standard-form input[type=text],
.buddypress-wrap .standard-form input[type=time],
.buddypress-wrap .standard-form input[type=url],
.buddypress-wrap .standard-form input[type=week],
.buddypress-wrap .standard-form select,
.buddypress-wrap .standard-form textarea
{
    border-radius: 30px 5px 5px 5px;
    border-width: 1px;
}

.bp-messages-filters li
{
    display: inline-block;
}

#bp-message-content .mce-btn button
{
    background: none;
    background-color: transparent;
    border-radius: 0 !important;
}

.bp-messages-content #send_message_form .submit input[type=button]
{
    margin-right: 10px;
}

.dt_ajax_subscribe_msg .success-msg
{
    color: #15d401;
}
.dt_ajax_subscribe_msg .error-msg
{
    color: #bd0404;
}


/*----*****---- << Moz Reset >> --****--*/
input[type='submit']::-moz-focus-inner
{
    border: 0;
    margin-bottom: -1px; 
    margin-top: -1px;
    padding: 0;
}

#searchform
{
    clear: both;
}

.selection-box
{
    clear: both; 
    position: relative;
}
.selection-box:before,
.selection-box:after
{
    content: '';
    pointer-events: none;
    position: absolute;
}
.selection-box:before
{
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid; 
    bottom: 0;
    height: 0;
    margin: auto;
    right: 17px;
    top: 5px;
    z-index: 1;
}
.selection-box:after
{
    border-left: 1px solid rgba(0, 0, 0, .15);
    border-right: 1px solid rgba(0, 0, 0, .15); 
    height: calc(100% - 2px);
    right: 0;
    top: 1px;
    width: 48px;
}
.selection-box select
{
    margin-top: 0;
}

.post-password-form input[type=password]
{
    margin: 15px 0 10px;
}


