$question-number: question-list;
$answer-number: answer-list;
$group-number: group-number;
//color:var(--fa-primary-color,inherit);
.dtlms-toggle-content {
    counter-reset: questions;
}

.question-group {
    background-color: #f8f9fa;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    border-left: 5px solid $theme-color;
    &.question-example {
        .question-main {
            &.counter:before {
                content: "例）";
                padding-right: 10px;
                font-weight: bold;
            }
            .question-ans {
                counter-reset: questions;
            }
        }
    }
    .question-main {
        margin-bottom: 0.5rem;
        &.counter:before {
            counter-increment: questions;
            content: counter(questions, decimal-leading-zero) "）";
            padding-right: 10px;
            font-weight: bold;
        }
    }
    .question-ans {
        border-left: 2px solid $theme-color;
        padding-left: 0.5rem;
        font-size: 90%;
        .sentence {
            // line-height: 80%;
            margin: 1rem auto;
        }
    }
}

.question-content {
    >span {
        padding: 0 5px;
        position: relative;
        &::after {
            background-color: $white-color;
            position: absolute;
            width: 100%;
            height: 2px;
            content: "";
            display: block;
            left: 0;
            bottom: -5px;
        }
        &.underline {
            margin: 0 5px;
        }
    }
}

.group-number-reset {
    counter-reset: $group-number;
}

.sentence-group {
    position: relative;
    padding: 15px;
    margin-top: 15px;
    
    &.group-number {
        padding-left: 25px;
        &:before {
            counter-increment: $group-number;
            content: counter($group-number, decimal-leading-zero) ") ";
            position: absolute;
            left: 0;
        }
    }

    .sentence-text {
        margin-bottom: 5px;
        .text-underline {
            text-decoration: underline;
            color: $gray-600;
        }
    }

    .sentence-trans {
        font-size: 60%;
        line-height: 80%;
        color: #999;
        margin-bottom: 5px;
    }

    &.bg-secondary {
        background-color: rgba(108, 117, 125, 0.5) !important;
    }
}

.question-underline {
    padding: 0 10px;
    position: relative;
    &::after {
        background-color: $white-color;
        position: absolute;
        width: 100%;
        height: 2px;
        content: "";
        display: block;
        left: 0;
        bottom: -2px;
    }
}

.question-group-list {
    counter-reset: $question-number;
    .question-number {
        &:before {
            counter-increment: $question-number;
            content: counter($question-number, decimal-leading-zero) '）';
            color: #999;
            margin-right: 15px;
            font-weight: 200;
        }
    }
}

.answer-group {
    .form-check {
        position: relative;
        .answer-effect {
            position: absolute;
            z-index: 200;
            opacity: 1;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 50px;
            text-shadow: 0 0 3px #999;
            font-size: 25px;
            text-align: center;
            font-weight: 700;
            &.correct {
                color: #090;
                &::after {
                    content: '+1';
                }
            }
            &.incorrect {
                color: #900;
                &::after {
                    content: '-1';
                }
            }
        }
    }
}

.quiz-items {
    counter-reset: $question-number;
}

.quiz-group {
    @include jp-font();
    font-size: 1.2rem;
    margin-bottom: 2rem;
    position: relative;
    .quiz-question {
        margin-bottom: 1rem;
        .q-num {
            padding: 7px 10px;
            border: 1px solid #000;
            position: absolute;
            &:before {
                counter-increment: $question-number;
                content: counter($question-number, decimal-leading-zero);
            }
        }
        .q-con,
        .q-ctr {
            display: inline-block;
            margin: 0 5px;
            &:first {
                margin-right: 0;
            }
        }
        .q-ctr {
            float: right;
        }
        .q-collapse {
            //position: relative;
            // font-family: "Font Awesome 5 Duotone";
            // font-weight: 900;
            .fad {
                &:after {
                    content: "\10f146";
                }
                &:before {
                    content: "\f146";
                }
            }
            &.collapsed .fad {
                &:after {
                    content: "\10f0fe";
                }
                &:before {
                    content: "\f0fe";
                }
            }
        }
        .q-con {
            font-size: 1.2rem;
            display: block;
            margin-left: 60px;
            >p {
                margin-bottom: 0;
            }
            .question-underline:after {
                background-color: #000;
                position: absolute;
                width: 100%;
                height: 2px;
                content: "";
                display: block;
                left: 0;
                bottom: -2px;
            }
            input.missing-word {
                width: auto;
                display: inline-block;
                padding: 0 5px;
                border: 0;
                border-radius: 0;
                font-size: inherit;
                background-color: $input-gray;
                box-shadow: unset;
                color: $text-color;
                text-align: center;
            }
            .text-underline {
                color: $gray-600;
                margin: auto 2px;
                position: relative;
                display: inline-block;
                min-width: 40px;
                text-align: center;
                margin: 0 6px;

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    border-bottom: 1px solid $gray-600;
                    width: 100%;
                    height: 2px;
                }
            }
        }
    }
    .q-ans {
        padding-left: 55px;
        counter-reset: $answer-number;
        //.a-num {}
        .form-check {
            &:before {
                counter-increment: $answer-number;
                content: counter($answer-number, decimal-leading-zero) ") ";
                position: absolute;
                left: 15px;
            }
        }
    }

    .q-guild {
        padding-left: 55px;
        font-size: 0.9rem;
    }
}

.q-guild {
    .alert {
        margin: 0;
        padding: 0.2rem;
        >i.fas {
            position: absolute;
            font-size: 1.5rem;
            top: 15px;
            left: 15px;
        }
        >p {
            margin-left: 35px;
            margin-bottom: 0.2rem;
        }
    }
}

.examples {
    .example-group {
        padding: 15px;
        &:nth-child(odd) {
            background-color: #fff;
        }
        &:nth-child(even) {
            background-color: darkgray;
        }
    }
}

.q-item {
    u {
        min-width: 50px;
        margin: 0 5px;
        display: inline-block;
        border-bottom: 1px solid;
        text-align: center;
    }
}

.q-multi-quiz {
    position: relative;
    .answer-input {
        display: inline-block;
        min-width: 100px;
        height: 28px;
        margin: auto 5px;
        padding: 2px;

        position: initial;
        margin-bottom: -8px;
        .bg-color {
            display: block;
            height: 22px;
            opacity: 0.5;
        }
        
        &:nth-child(1) { 
            border: 1px dashed $primary;
            .bg-color { background-color: $primary;}
        }
        &:nth-child(2) { 
            border: 1px dashed $success;
            .bg-color { background-color: $success;}
        }
    }

    .answer-quiz {
        margin-top: 5px;
        padding: 15px;
        border: 2px dashed;
        &:nth-child(1) { 
            border-color: $primary;
        }
        &:nth-child(2) { 
            border-color: $success;
        }
    }
}

.q-multi-character {
    .input-character {
        border: 1px dashed $secondary;
        width: 35px;
        margin: 0 2px;
        text-align: center;
        &:focus {
            background-color: $secondary;
        }
    }
}