// .text-left {
//     text-align: left;
// }

.text-jp {
    font-family: MS PMincho,MS Mincho;
}

.text-ucword {
    text-transform: capitalize;
}

table {
    .text-jp {
        font-size: 20px;
    }   
}