.search-module {
    display: inline-block;
    text-align: center;
}

.menu-icons-wrapper {
    margin: 0 5px;
    padding: 5px 0;
}

.menu-icons-wrapper .search,
.menu-icons-wrapper .cart {
    display: inline-block;
    margin: 0 5px;
    text-align: center;
    width: 25px;
}

.menu-icons-wrapper.rounded-icons .search,
.menu-icons-wrapper.rounded-icons .cart {
    margin: 0 5px;
}

.menu-icons-wrapper .search a,
.menu-icons-wrapper .cart a {
    font-size: 14px;
}

.menu-icons-wrapper.rounded-icons .search a span,
.menu-icons-wrapper.rounded-icons .cart a span {
    border-radius: 50%;
    height: 38px;
    line-height: 40px;
    text-align: center;
    width: 38px;
    -webkit-border-radius: 50%;
}

.menu-icons-wrapper .top-menu-search-container {
    display: none;
    position: absolute;
    right: 50%;
    top: 100%;
    width: 250px;
    z-index: 9;
}

.menu-icons-wrapper .top-menu-search-container.show-top-menu-search {
    display: block;
}

.menu-icons-wrapper .top-menu-search-container .search-form label span {
    display: none;
}

.menu-icons-wrapper .top-menu-search-container .search-form input[type='submit'] {
    text-indent: -9999px;
}

.menu-icons-wrapper .top-menu-search-container .search-form input[type='search'] {
    padding-right: 30px;
    text-transform: none;
}

.menu-icons-wrapper .cart sup {
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    height: 15px;
    left: -9px;
    line-height: 15px;
    position: relative;
    text-align: center;
    top: -8px;
    width: 15px;
}

@import "../../elearni/header/searchform";
