/**
https://www.bootdey.com/snippets/view/card-chat-list
**/

$message-border-radius : 10px;
$avatar-img-size : 48px;

$msg-in-bg-color : #5a99ee;
$msg-out-bg-color : #fc6d4c;
$msg-in-bg-color-2 : #e5e5e5;

$text-trans-color : #ddd;
$text-trans-color-2 : #464646;

$text-color : #ffffff;
$text-color-2 : #000000;

.card-header {
    .btn {
        font-size: 1.4rem;
        padding: 0 10px;
    }
}

.chat-list {
    padding: 0;
    font-size: 1rem;

    li {
        margin-bottom: 10px;
        overflow: auto;
        color: $text-color;
    }

    .chat-img {
        float: left;
        display: block;
        width: $avatar-img-size;
        height: $avatar-img-size;
    }

    .chat-body {
        margin-left: 20px;
        float: left;
        width: 70%;
    }

    .chat-message {
        -webkit-border-radius: $message-border-radius;
        -moz-border-radius: $message-border-radius;
        border-radius: $message-border-radius;
        background: $msg-in-bg-color;
        display: inline-block;
        padding: 10px 20px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 15px;
            width: 0;
            height: 0;
        }

        h5 {
            margin: 0 0 15px 0;
            padding-bottom: 5px;
            font-weight: 600;
            line-height: 100%;
            font-size: 1.5rem;
            border-bottom: 1px solid #eeeeee;
        }

        p {
            line-height: 18px;
            margin: 0;
            padding: 0;

            &.chat-trans {
                font-size: 0.8rem;
                color: $text-trans-color;
            }
        }

        .play-part {
            float: right;
            line-height: unset;
            font-size: 25px;
            color: $text-color;
            font-family: "Font Awesome 5 Pro";
            font-weight: 300;
            margin-top: 5px;

            &::after {
                content: "\f144";
            }

            &:hover {
                font-weight: 400;
            }
        }
    }

    //.in {
        .chat-message:before {
            left: -12px;
            border-bottom: 20px solid transparent;
            border-right: 20px solid $msg-in-bg-color;
        }
    //}

    .in-2 {
        .chat-message {
            background: $msg-in-bg-color-2;

            &:before {
                border-right-color: $msg-in-bg-color-2;
            }

            .chat-trans {
                color: $text-trans-color-2;
            }
        }

        .play-part,
        .chat-message {
            color: $text-color-2;
        }
    }

    .out {
        .chat-img {
            float: right;
        }

        .chat-message {
            background: $msg-out-bg-color;
            &:before {

                left: unset;
                border-right: unset;
                right: -12px;
                border-bottom: 20px solid transparent;
                border-left: 20px solid $msg-out-bg-color;
            }
        }

        .play-part {
            float: left;
        }

        .chat-body {
            float: right;
            text-align: right;
            margin-right: 20px;
        }        
    }
}