.type8.dtlms-courselist-item-wrapper .dtlms-courselist-details-inner .dtlms-courselist-total-reviews{color:#999999; padding-left:5px;}
.type8.dtlms-courselist-item-wrapper .dtlms-courselist-bottom-section{clear:both; width:100%; display:inline-block; border-top:1px solid #efefef; padding:20px 0px 0px; float:left;}
.type8.dtlms-courselist-item-wrapper .dtlms-courselist-bottom-section .dtlms-courselist-duration{float:left; padding:0; background:none; font-size:16px;}
.type8.dtlms-courselist-item-wrapper .dtlms-courselist-bottom-section .dtlms-coursedetail-price-details{float:right; margin:0px 0 0;}
.type8.dtlms-courselist-item-wrapper .dtlms-courselist-duration{float:left; background:none; padding:0; font-weight:normal; font-size:16px;}
.type8.dtlms-courselist-item-wrapper .dtlms-courselist-details .dtlms-courselist-duration i{background:none; width:auto; position:static; margin-right:5px;}
.type8.dtlms-courselist-item-wrapper .dtlms-courselist-bottom-section .dtlms-coursedetail-price-details ins{background:none; font-size:20px; font-weight:500; color:#FFF !important;}
.type8.dtlms-courselist-item-wrapper .dtlms-courselist-bottom-section .dtlms-courselist-metadata i{font-size:15px;}
.type8.dtlms-courselist-item-wrapper .dtlms-courselist-bottom-left-section{float:left;}
.type8.dtlms-courselist-item-wrapper .dtlms-courselist-students-enrolled,
.type8.dtlms-courselist-item-wrapper .dtlms-courselist-ratings-container{display:inline-block;}
.type8.dtlms-courselist-item-wrapper .dtlms-courselist-details p.dtlms-courselist-overall-ratings{margin-right:10px; background:none; font-weight:normal; padding-left:0px; margin-bottom:0px;}
.type8.dtlms-courselist-item-wrapper .dtlms-courselist-details p.dtlms-courselist-overall-ratings span{background-color:transparent;}
.type8.dtlms-courselist-item-wrapper .dtlms-course-listing-featured{float:none;}
.type8.dtlms-courselist-item-wrapper .dtlms-courselist-purchase-status-details{display:inline-block;}
.type8.dtlms-courselist-item-wrapper .dtlms-courselist-purchase-status-details .dtlms-purchase-status{padding:5px 10px 5px 26px;}
.type8.dtlms-courselist-item-wrapper.list-item .dtlms-courselist-bottom-section{padding:12px 0 8px;}
.type8.dtlms-courselist-item-wrapper.list-item .dtlms-courselist-bottom-left-section{width:33.3%;}
.type8.dtlms-courselist-item-wrapper.list-item .dtlms-courselist-bottom-right-section{float:left; width:66.7%;}
.type8.dtlms-courselist-item-wrapper.list-item .dtlms-coursedetail-price-details{float:left; text-align:center; width:50%;margin-top: 5px;}
.type8.dtlms-courselist-item-wrapper.list-item .dtlms-coursedetail-price-details .dtlms-free { margin-top: 4px; }
.type8.dtlms-courselist-item-wrapper.list-item .dtlms-coursedetail-cart-details{float:right; width:50%; text-align:right;}
.type8.dtlms-courselist-item-wrapper.list-item .dtlms-courselist-bottom-section .dtlms-courselist-bottom-left-section .dtlms-courselist-metadata{margin:5px 0 0;}
.type8.dtlms-courselist-item-wrapper.list-item .dtlms-courselist-metadata-holder .dtlms-courselist-author-image{float:left; margin-right:10px;}
.type8.dtlms-courselist-item-wrapper.list-item .dtlms-courselist-metadata-holder .dtlms-courselist-author-description{display:inline-block; margin:15px 0 0;}

.type8.dtlms-courselist-item-wrapper .dtlms-price-status.dtlms-free{font-size:20px; font-weight:500;}
