.type3.dtlms-courselist-item-wrapper.grid-item .dtlms-coursedetail-cart-details{display:inline-block; width:33.3%; text-align:center;}
.type3.dtlms-courselist-item-wrapper .dtlms-coursedetail-cart-details a{padding:0; border:none; line-height:normal; display:inline-block; font-size:18px; text-transform:none; font-weight:normal; margin:3px 0 0; min-height:auto;}
.type3.dtlms-courselist-item-wrapper .dtlms-coursedetail-cart-details a i{display:inline-block; float:right; line-height:inherit; margin:3px 0px 0px 10px;}
.type3.dtlms-courselist-item-wrapper .dtlms-coursedetail-cart-details a:hover{background-color:transparent;}
.type3.dtlms-courselist-item-wrapper.list-item .dtlms-coursedetail-cart-details a{margin:15px 15px 0 0;}

.type3.dtlms-classlist-item-wrapper .dtlms-classlist-details{background-color:#f8f8f8;}
.type3.dtlms-classlist-item-wrapper .dtlms-classlist-details .dtlms-classlist-instructor-item{float:left; margin-bottom:20px;}
.type3.dtlms-classlist-item-wrapper .dtlms-classlist-instructor-item{clear:both; float:left;}
.type3.dtlms-classlist-item-wrapper .dtlms-classlist-instructor-item img{border-radius:100%; max-width:55px; margin-right:10px; float:left;}
.type3.dtlms-classlist-item-wrapper .dtlms-instructor-item-meta-data{display:inline-block; float:left;}
.type3.dtlms-classlist-item-wrapper .dtlms-instructor-item-meta-data p{display:inline-block; width:auto; font-size:18px; font-weight:normal; margin:0px 0px 0px; width:100%; float:left;}
.type3.dtlms-classlist-item-wrapper .dtlms-instructor-item-meta-data p a{float:left;}
.type3.dtlms-classlist-item-wrapper .dtlms-instructor-item-meta-data span{font-size:16px; font-weight:normal; clear:both; float:left; margin:0px 0 0;}
.type3.dtlms-classlist-item-wrapper .dtlms-classlist-details .dtlms-classdetail-price-details{float:right; margin:12px 0 0;}

.type3.dtlms-classlist-item-wrapper .dtlms-classlist-details .dtlms-classdetail-price-details span ins,
.type3.dtlms-classlist-item-wrapper .dtlms-classlist-details .dtlms-classdetail-price-details span del { float: none; display: inline-block; }



.type3.dtlms-classlist-item-wrapper .dtlms-classlist-details .dtlms-classdetail-price-details ins{font-size:18px; font-weight:normal; color:#FFF; padding:5px 17px;}
.type3.dtlms-classlist-item-wrapper .dtlms-classlist-details .dtlms-classlist-bottom-section{float:left; width:calc(100% + 60px); width:-moz-calc(100% + 60px); width:-webkit-calc(100% + 60px); clear:both; border-top:1px solid #ececec; margin:15px 0px 0px -30px; padding:20px 30px 8px 30px;}
.type3.dtlms-classlist-item-wrapper .dtlms-classlist-bottom-section-right{text-align:center;}
.type3.dtlms-classlist-item-wrapper .dtlms-classlist-bottom-section-right a{font-size:18px; font-weight:500; text-transform:none; padding:0; border:none; border-radius:0px; min-height:1px; margin:0 0 10px; display:inline-block; border-radius:50px; padding:14px 25px; line-height:normal; letter-spacing:0;}
.type3.dtlms-classlist-item-wrapper .dtlms-classlist-bottom-section-right a:after{content:"\f054"; font-family:Fontawesome; margin-left:8px; font-size:14px;}
.type3.dtlms-classlist-item-wrapper .dtlms-class-detail-ratings{float:right;}



.type3.dtlms-packagelist-item-wrapper .dtlms-packagelist-details{border:none; background-color:#f4f4f4;}
.type3.dtlms-packagelist-item-wrapper.list-item .dtlms-packagelist-details{padding-top:15px;}
.type3.dtlms-packagelist-item-wrapper .dtlms-packagelist-details .dtlms-packagelist-inclusion p{position:relative; padding:0px 15px 0px 42px;}
.type3.dtlms-packagelist-item-wrapper .dtlms-packagelist-details .dtlms-packagelist-inclusion p:before{content:"\f02b"; font-family:Fontawesome; font-style:normal; font-weight:normal; color:#FFF; position:absolute; left:0; top:0; width:28px; text-align:center;}
.type3.dtlms-packagelist-item-wrapper .dtlms-packagelist-details .dtlms-packagelist-details-inner{background-color:transparent; border:none; width:100%; float:left; padding:0px; margin-bottom:10px;}
.type3.dtlms-packagelist-item-wrapper .dtlms-packagelist-details .dtlms-packagelist-price-details{color:#FFF; font-size:18px; font-weight:500; float:left; padding:16px 41px; margin-right:15px;}
.type3.dtlms-packagelist-item-wrapper .dtlms-packagelist-details .dtlms-packagelist-price-details del{font-weight:100; margin-right:8px;}
.type3.dtlms-packagelist-item-wrapper .dtlms-packagelist-details .dtlms-packagelist-price-details ins{color:#FFF; background:none;}
.type3.dtlms-packagelist-item-wrapper .dtlms-packagelist-details .dtlms-packagedetail-cart-details a{font-size:16px; margin:0; font-weight:500; padding:18px 36px; display:inline-block; line-height:normal;}
.type3.dtlms-packagelist-item-wrapper.list-item .dtlms-packagelist-details .dtlms-packagedetail-cart-details a{padding-top:20px; padding-bottom:18px; margin-right:10px;}
.type3.dtlms-packagelist-item-wrapper .dtlms-packagelist-details .dtlms-packagedetail-cart-details a i{display:none;}
.type3.dtlms-packagelist-item-wrapper .dtlms-packagelist-details .dtlms-packagedetail-cart-details a:after{content:"\f30b"; font-family:Font Awesome\ 5 Free; font-style:normal; font-weight:900; margin-left:10px;}
.type3.dtlms-packagelist-item-wrapper .dtlms-packagelist-details > h5{font-size:30px; letter-spacing:0; font-weight:300;}
.type3.dtlms-packagelist-item-wrapper.list-item .dtlms-packagelist-details .dtlms-packagelist-description{margin:10px 0px 20px;}


.type3.dtlms-packagelist-item-wrapper.grid-item .dtlms-packagelist-details .dtlms-packagelist-details-inner{width:calc(100% + 70px); width:-moz-calc(100% + 70px); width:-webkit-calc(100% + 70px); margin:0 0 0 -35px;}
.type3.dtlms-packagelist-item-wrapper.grid-item .dtlms-packagelist-details .dtlms-packagelist-price-details{width:100%; text-align:center; margin:0;}
.type3.dtlms-packagelist-item-wrapper.grid-item .dtlms-packagelist-details .dtlms-packagedetail-cart-details{width:100%; text-align:center;}
.type3.dtlms-packagelist-item-wrapper.grid-item .dtlms-packagelist-details .dtlms-packagedetail-cart-details a{width:100%; display:inline-block;}

.type3.dtlms-packagelist-item-wrapper .dtlms-expired{width:100%;}


@media screen and (-webkit-min-device-pixel-ratio:0) { 

    .type3.dtlms-packagelist-item-wrapper.list-item .dtlms-packagelist-details .dtlms-packagedetail-cart-details a { padding-bottom: 19px; padding-top: 22px; }

}