.type1.dtlms-courselist-item-wrapper .dtlms-courselist-details-inner h5{text-transform:none; font-size:24px; letter-spacing:0px; font-weight:normal; display:inline-block;}
.type1.dtlms-courselist-item-wrapper .dtlms-courselist-details{border:none; padding:30px 0 0;}
.type1.dtlms-courselist-item-wrapper .dtlms-courselist-details .dtlms-courselist-details-inner{padding:0px; margin-bottom:0px;}
.type1.dtlms-courselist-item-wrapper .dtlms-courselist-details .dtlms-courselist-metadata p,
.type1.dtlms-courselist-item-wrapper .dtlms-courselist-details .dtlms-courselist-metadata i{background-color:transparent;}

.type1.dtlms-courselist-item-wrapper .dtlms-courselist-details .dtlms-courselist-metadata i{width:auto;}
.type1.dtlms-courselist-item-wrapper .dtlms-courselist-details .dtlms-courselist-metadata p{display:inline-block; padding-right:8px; font-size:15px;}
.type1.dtlms-courselist-item-wrapper .dtlms-courselist-details .dtlms-courselist-metadata p.dtlms-courselist-overall-ratings{padding:0px; font-weight:normal;}
.type1.dtlms-courselist-item-wrapper .dtlms-courselist-details .dtlms-courselist-ratings-container{border-left:1px solid #CCC; padding:4px 0; margin:0; display:inline;}
.type1.dtlms-courselist-item-wrapper .dtlms-courselist-details .dtlms-courselist-metadata p.dtlms-courselist-ratings{padding:0px 0 0 15px;}

.type1.dtlms-courselist-item-wrapper .dtlms-courselist-details .dtlms-coursedetail-price-details ins{font-weight:bold;}
.type1.dtlms-courselist-item-wrapper .dtlms-courselist-bottom-section .dtlms-coursedetail-price-details,
.type1.dtlms-courselist-item-wrapper .dtlms-courselist-bottom-section .dtlms-coursedetail-cart-details{display:inline-block;}
.type1.dtlms-courselist-item-wrapper .dtlms-courselist-bottom-section{margin:0px 0 0; display:inline-block; clear:both; width:100%;}
.type1.dtlms-courselist-item-wrapper .dtlms-coursedetail-cart-details a i{display:none;}
.type1.dtlms-courselist-item-wrapper .dtlms-coursedetail-cart-details a.added_to_cart.wc-forward{padding:0px 20px;}
.type1.dtlms-courselist-item-wrapper .dtlms-coursedetail-cart-details a{margin:10px 5px 0px 0px; background-image:none;}
.type1.dtlms-courselist-item-wrapper .dtlms-coursedetail-cart-details a:hover{color:#FFF;}

.type1.dtlms-courselist-item-wrapper .dtlms-coursedetail-cart-details a{border:1px solid; background-color:transparent; text-transform:uppercase; font-size:14px; font-weight:500; line-height:normal;}

.type1.dtlms-packagelist-item-wrapper .dtlms-packagelist-details-inner{width:100%; border:none; clear:both; display:block; margin:0; padding:0; text-align:center; width:100%; float:left;}
.type1.dtlms-packagelist-item-wrapper .dtlms-packagelist-price-details{display:table; font-size:13px; font-weight:normal; line-height:30px; margin-bottom:8px; margin-left:auto; margin-right:-10px; padding:0 15px; position:relative; right:0px; text-align:center; vertical-align:middle; z-index:1; color:#FFF; float:right; right:-36px;}
.type1.dtlms-packagelist-item-wrapper .dtlms-packagelist-price-details:before{border-color:transparent; border-style:solid; border-width:0 0 8px 10px; content:""; opacity:0.5; filter:alpha(opacity=50); position:absolute; right:0; top:100%; z-index:-1;}
.type1.dtlms-packagelist-item-wrapper .dtlms-packagelist-price-details ins{background:none; color:#FFF;}
.type1.dtlms-packagelist-item-wrapper .dtlms-packagelist-price-details del{opacity:0.6; margin-right:6px;}
.type1.dtlms-packagelist-item-wrapper .dtlms-packagelist-details-inner .dtlms-packagedetail-cart-details{display:table; width:calc(100% + 72px); width:-moz-calc(100% + 72px); width:-webkit-calc(100% + 72px); margin:0px 0px 0px -36px;}
.type1.dtlms-packagelist-item-wrapper .dtlms-packagelist-details-inner .dtlms-packagedetail-cart-details > .dtlms-button,
.type1.dtlms-packagelist-item-wrapper .dtlms-packagelist-details-inner .dtlms-packagedetail-cart-details > .dtlms-packagedetail-cart-link,
.type1.dtlms-packagelist-item-wrapper .dtlms-packagelist-details-inner .dtlms-packagedetail-cart-details > .added_to_cart{border-style: solid;border-width: 0;display: table-cell;font-size: 15px;font-weight: normal;height: 50px;line-height: 50px;margin-top: 0;padding-bottom: 0;padding-top: 0;vertical-align: middle;-webkit-border-radius: 0;border-radius: 0;text-transform: inherit;}
.type1.dtlms-packagelist-item-wrapper .dtlms-packagelist-details-inner .dtlms-packagedetail-cart-details > .dtlms-button.added{display:none;}
.type1.dtlms-packagelist-item-wrapper .dtlms-packagelist-details-inner .dtlms-packagedetail-cart-details > .dtlms-packagedetail-cart-link i,
.type1.dtlms-packagelist-item-wrapper .dtlms-packagelist-details-inner .dtlms-packagedetail-cart-details > .added_to_cart i{margin-right:6px;}
.type1.dtlms-packagelist-item-wrapper .dtlms-packagelist-details-inner .dtlms-packagedetail-cart-details > a.added_to_cart.wc-forward:before{content:"\f217"; display:inline-block; font-family:FontAwesome; font-weight:normal; margin-right:5px; vertical-align:middle; margin-top:-3px;}
.type1.dtlms-packagelist-item-wrapper.list-item div[class*="list-details"]{padding-bottom:0px;}
.type1.dtlms-packagelist-item-wrapper.list-item .dtlms-packagelist-details .dtlms-packagelist-details-inner{padding:0px; width:100%;}

.type1.dtlms-packagelist-item-wrapper.list-item .dtlms-packagelist-price-details { margin-right: 10px; }
.type1.dtlms-packagelist-item-wrapper.list-item .dtlms-packagelist-price-details:before { display: none; }
.type1.dtlms-packagelist-item-wrapper.swiper-slide.grid-item .dtlms-packagelist-price-details { width: auto; }





