.elearni-form {
    .form-control
    {
        display: block;
        margin: 0;
        padding: 14px 12px 14px 32px;
        transition: all .3s linear;
        width: 100%;
        border: 1px solid #f4f4f4;
        border-radius: 30px 5px 5px 5px;
        -webkit-border-radius: 30px 5px 5px 5px;
        -webkit-appearance: none;
        appearance: none;
        
    }
}
