
.dtlms-instructor-item.with-bg .dtlms-team-social-links {
    margin-top: 2px;
}

.dtlms-instructor-item.with-bg .dtlms-team-social-links ul li {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 0;
}

.dtlms-instructor-item.with-bg .dtlms-team-social-links ul li a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
}

.dtlms-instructor-item.type10.with-bg .dtlms-team-social-links ul li a.fa:hover {
    background-color: #000;
}

.dtlms-instructor-item.with-bg .dtlms-team-social-links ul li a.fa-dribbble {
    background-color: #ea4c89;
}

.dtlms-instructor-item.with-bg .dtlms-team-social-links ul li a.fa-flickr {
    background-color: #ff0084;
}

.dtlms-instructor-item.with-bg .dtlms-team-social-links ul li a.fa-github {
    background-color: #040204;
}

.dtlms-instructor-item.with-bg .dtlms-team-social-links ul li a.fa-pinterest {
    background-color: #cb2027;
}

.dtlms-instructor-item.with-bg .dtlms-team-social-links ul li a.fa-stack-overflow {
    background-color: #f48024;
}

.dtlms-instructor-item.with-bg .dtlms-team-social-links ul li a.fa-twitter {
    background-color: #00aced;
}

.dtlms-instructor-item.with-bg .dtlms-team-social-links ul li a.fa-youtube {
    background-color: #bb0000;
}

.dtlms-instructor-item.with-bg .dtlms-team-social-links ul li a.fa-android {
    background-color: #a4c639;
}

.dtlms-instructor-item.with-bg .dtlms-team-social-links ul li a.fa-dropbox {
    background-color: #007ee5;
}

.dtlms-instructor-item.with-bg .dtlms-team-social-links ul li a.fa-instagram {
    background-color: #bc2a8d;
}

.dtlms-instructor-item.with-bg .dtlms-team-social-links ul li a.fa-windows {
    background-color: #68217a;
}

.dtlms-instructor-item.with-bg .dtlms-team-social-links ul li a.fa-apple {
    background-color: #828282;
}

.dtlms-instructor-item.with-bg .dtlms-team-social-links ul li a.fa-facebook {
    background-color: #3b5998;
}

.dtlms-instructor-item.with-bg .dtlms-team-social-links ul li a.fa-google-plus {
    background-color: #dd4b39;
}

.dtlms-instructor-item.with-bg .dtlms-team-social-links ul li a.fa-linkedin {
    background-color: #007bb6;
}

.dtlms-instructor-item.with-bg .dtlms-team-social-links ul li a.fa-skype {
    background-color: #00aff0;
}

.dtlms-instructor-item.with-bg .dtlms-team-social-links ul li a.fa-tumblr {
    background-color: #32506d;
}

.dtlms-instructor-item.with-bg .dtlms-team-social-links ul li a.fa-vimeo-square {
    background-color: #1ab7ea;
}

.dtlms-instructor-item.vibrant .dtlms-team-social-links ul li a.fa-dribbble {
    color: #ea4c89;
}

.dtlms-instructor-item.vibrant .dtlms-team-social-links ul li a.fa-flickr {
    color: #ff0084;
}

.dtlms-instructor-item.vibrant .dtlms-team-social-links ul li a.fa-github {
    color: #040204;
}

.dtlms-instructor-item.vibrant .dtlms-team-social-links ul li a.fa-pinterest {
    color: #cb2027;
}

.dtlms-instructor-item.vibrant .dtlms-team-social-links ul li a.fa-stack-overflow {
    color: #f48024;
}

.dtlms-instructor-item.vibrant .dtlms-team-social-links ul li a.fa-twitter {
    color: #00aced;
}

.dtlms-instructor-item.vibrant .dtlms-team-social-links ul li a.fa-youtube {
    color: #bb0000;
}

.dtlms-instructor-item.vibrant .dtlms-team-social-links ul li a.fa-android {
    color: #a4c639;
}

.dtlms-instructor-item.vibrant .dtlms-team-social-links ul li a.fa-dropbox {
    color: #007ee5;
}

.dtlms-instructor-item.vibrant .dtlms-team-social-links ul li a.fa-instagram {
    color: #bc2a8d;
}

.dtlms-instructor-item.vibrant .dtlms-team-social-links ul li a.fa-windows {
    color: #68217a;
}

.dtlms-instructor-item.vibrant .dtlms-team-social-links ul li a.fa-apple {
    color: #828282;
}

.dtlms-instructor-item.vibrant .dtlms-team-social-links ul li a.fa-facebook {
    color: #3b5998;
}

.dtlms-instructor-item.vibrant .dtlms-team-social-links ul li a.fa-google-plus {
    color: #dd4b39;
}

.dtlms-instructor-item.vibrant .dtlms-team-social-links ul li a.fa-linkedin {
    color: #007bb6;
}

.dtlms-instructor-item.vibrant .dtlms-team-social-links ul li a.fa-skype {
    color: #00aff0;
}

.dtlms-instructor-item.vibrant .dtlms-team-social-links ul li a.fa-tumblr {
    color: #32506d;
}

.dtlms-instructor-item.vibrant .dtlms-team-social-links ul li a.fa-vimeo-square {
    color: #1ab7ea;
}


.page-with-sidebar .dtlms-instructor-item.type1.dtlms-one-third .dtlms-instructor-item-meta-data .dtlms-team-social-links ul li {
    margin-right: 8px;
}

.page-with-sidebar.with-both-sidebar .dtlms-instructor-item.type1.dtlms-one-half .dtlms-instructor-item-meta-data .dtlms-team-social-links ul li {
    margin-right: 8px;
}

.page-with-sidebar .dtlms-instructor-item.type2.dtlms-one-third .dtlms-instructor-item-meta-data .dtlms-team-social-links ul li {
    margin: 0 5px -2px;
}


.page-with-sidebar .dtlms-instructor-item.type7.dtlms-one-third.with-bg .dtlms-team-social-links ul li a {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
}