// .wp-admin div[id*="result-popup"] , 
// body[class*="single-dtlms"] {
//     table {
//         th, td {
//             //padding: 10px 6px;
//             //text-align: center;
//             text-transform: inherit;
//         }
//     }
// }



body[class*="single-dtlms"] table {
    border-collapse: collapse;
}

// body[class*="single-dtlms"] table th {
//     font-weight: 400;
// }

// body[class*="single-dtlms"] table th, 
// body[class*="single-dtlms"] table td {
//     padding: 15px 6px;
// }

body[class*="single-dtlms"] table.dtlms-course-detail-media-attachment th, 
body[class*="single-dtlms"] table.dtlms-course-detail-media-attachment td {
    font-size: 16px;
}

// body[class*="single-dtlms"] table th, 
// body[class*="single-dtlms"] table td, 
// .admin-bar div[id*="result-popup"] table th, 
// .admin-bar div[id*="result-popup"] table td, 
// .dtlms-quiz-statistics-timetaken:before, 
// .dtlms-quiz-results-container h2, 
// .dtlms-quiz-results-container .dtlms-quiz-results h5 span, 
// .dtlms-curriculum-list li .dtlms-curriculum-meta-title a:hover, 
// .dtlms-curriculum-list li .dtlms-curriculum-meta-title a.active, 
// .dtlms-curriculum-list li.active > .dtlms-curriculum-meta-title a, 
// .dtlms-curriculum-list > li .dtlms-curriculum-meta-icon, 
// .dtlms-curriculum-list > li.locked:before, 
// .dtlms-curriculum-list > li.drip-locked:before, 
// .dtlms-curriculum-intro h2, 
// .dtlms-assignment-submission li .dtlms-column a:hover, 
// .dtlms-course-result-popup-intro h2, 
// .dtlms-class-result-popup-intro h2, 
// .dtlms-course-results-main-detail-wrapper .dtlms-author-title h5 a, 
// .dtlms-course-curriculum-table .dtlms-view-curriculum-details, 
// .dtlms-class-curriculum-table .dtlms-view-class-curriculum-details, 
// .dtlms-toggle-group-set h5.dtlms-toggle a, 
// .dtlms-toggle-group-set h5.dtlms-toggle:before, 
// .dtlms-pagination.dtlms-ajax-pagination .prev-post a, 
// .dtlms-pagination.dtlms-ajax-pagination .next-post a, 
// .dtlms-pagination.dtlms-ajax-pagination ul.page-numbers li a, 
// .dtlms-payment-details .dtlms-item-status-details, 
// .dtlms-payment-details .dtlms-item-status-details .dtlms-item-pricing-details, 
// .dtlms-payment-details .dtlms-item-status-details > del, .dtlms-payment-details .dtlms-item-status-details .dtlms-item-pricing-details > del, .dtlms-payment-details .dtlms-item-status-details > ins, .dtlms-payment-details .dtlms-item-status-details .dtlms-item-pricing-details > ins, #dtlms-course-curriculum-popup .dtlms-course-curriculum-popup-container .dtlms-four-fifth .dtlms-curriculum-content-holder ul.dtlms-assignment-submission li .dtlms-four-fifth > ul > li a, #dtlms-course-result-popup .dtlms-course-result-popup-container .dtlms-three-fifth .dtlms-curriculum-assignment-holder ul.dtlms-assignment-submission li .dtlms-four-fifth > ul > li a, /* Frontend Dashboard */
// table.dtlms-custom-table td, .dtlms-custom-box table td, table.dtlms-custom-table tbody.dtlms-custom-dashboard-table ul li a:hover {
//     color: #000;
// }


.wp-admin div[id*="result-popup"] table, body[class*="single-dtlms"] table {
    border-collapse: collapse;
//    margin: 0 0 1.5em;
    // width: 100%;
    margin: 0;
    tr {
        width: 100%;
    }
}

// .wp-admin div[id*="result-popup"] table thead, 
// .wp-admin div[id*="result-popup"] table tbody,
//  body[class*="single-dtlms"] table thead, 
//  body[class*="single-dtlms"] table tbody
// {
//     display: block;
//     overflow-x: auto;
// }



.wp-admin div[id*="result-popup"] thead th {
    border-bottom: 2px solid #bbb;
    padding-bottom: 0.5em;
}

.wp-admin div[id*="result-popup"] tr {
    border-bottom-width: 0;
}

.wp-admin div[id*="result-popup"] th {
    padding: 0.4em;
    text-align: left;
}

.wp-admin div[id*="result-popup"] td {
    padding: 0.4em;
}



// .wp-admin div[id*="result-popup"] table th,
// body[class*="single-dtlms"] table th {
//     font-weight: 600;
// }

.wp-admin div[id*="result-popup"] table tbody tr:nth-child(2n+1) td,
body[class*="single-dtlms"] table tbody tr:nth-child(2n+1) td {
    background-color: rgba(0, 0, 0, 0);
}

// .wp-admin div[id*="result-popup"] table, .wp-admin div[id*="result-popup"] table,
// body[class*="single-dtlms"] table, body[class*="single-dtlms"] table {
//     border-left: 1px solid;
//     border-right: 1px solid;
//     -webkit-box-shadow: none;
//     box-shadow: none;
// }

// .wp-admin div[id*="result-popup"] table th,
// body[class*="single-dtlms"] table th {
//     border-bottom: none;
// }

table {
    border-collapse: separate;
    border-spacing: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);  
    clear: both;
    margin-bottom: 20px;
    // width: 100%;
}
// th
// {
//     border-bottom: 1px solid rgba(0, 0, 0, .1);
//     font-weight: bold;
//     line-height: normal;
//     padding: 15px;
//     text-align: center;
// }
// td,
// tbody th
// {
//     border-bottom: 1px solid rgba(0, 0, 0, .1);
//     line-height: normal;
//     padding: 13px 15px; 
//     //text-align: center;
// }
tbody tr:nth-child(2n):not(.odd) td,
tbody tr:nth-child(2n):not(.odd) th,
tbody tr.even td,
tbody tr.even th
{
    background: rgba(0, 0, 0, .03);
}

tbody td .dt-sc-button.small
{
    font-size: 12px;
    margin: 0; 
    padding: 7px 14px;
}
th a:hover,
td a:hover,
table > tbody:first-child > tr > th a:hover
{
    text-decoration: underline;
}
td a
{
    font-weight: bold;
}
// thead th,
// thead th a,
// table > tbody:first-child > tr > th
// {
//     color: #fff;
//     text-transform: uppercase;
// }

table.table td {
    vertical-align: middle;
}

.wp-admin div[id*="result-popup"] {
    .dtlms-class-curriculum-table,
    .dtlms-course-curriculum-table {
        td.section, 
        td.dtlms-class-curriculum-item {
            padding-left: 10px;
            padding-right: 10px;
            text-align: left;
        }
    }
}

.wp-admin div[id*="result-popup"] table th.dtlms-media-attachment-item, 
.wp-admin div[id*="result-popup"] table td.dtlms-media-attachment-item,
body[class*="single-dtlms"] .dtlms-course-curriculum-table td.section,
body[class*="single-dtlms"] .dtlms-class-curriculum-table td.section,
body[class*="single-dtlms"] .dtlms-class-curriculum-table td.dtlms-class-curriculum-item,
body[class*="single-dtlms"] .dtlms-course-curriculum-table td.dtlms-course-curriculum-item,
body[class*="single-dtlms"] table th.dtlms-media-attachment-item, 
body[class*="single-dtlms"] table td.dtlms-media-attachment-item {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.table thead tr {
    background-color: $main-color;
    color: $white-color;

    th { text-transform: capitalize; }
}