.bg-course-list {
    
    background-image: url(../images/bg/fw12.png)!important;
    background-position: 0 0!important;
    background-repeat: no-repeat!important;

    position: relative;
    left: -75px;
    box-sizing: border-box;
    width: 1260px;
    padding-left: 75px;
    padding-right: 75px;
}