
$course-counter:course-counter;

.course-counter-reset {
    counter-reset: $course-counter;
}

.dtlms-course-detail.type5 .dtlms-course-curriculum-toggle-group-holder {
    padding: 0 0 0 45px;
    //counter-reset: course-counter
}



.dtlms-course-detail.type5 .dtlms-course-curriculum-toggle-group-holder {
    .dtlms-toggle-group-set {

        &:first-child h5.dtlms-toggle > a:after {
            left: 60px
        }
    
        h5.dtlms-toggle.active > a {
            &:after,
            &:before {
                //background-color: #FFF
                color: $white-color;
            }
            
        }

        h5.dtlms-toggle {
            > a {
                display: inline;
            }

            > a:first-child {
                padding-left: 48px;
        
                &:before {
                    counter-increment: $course-counter;
                    content: counter($course-counter, decimal-leading-zero) ". ";
                    position: absolute;
                    width: auto;
                    height: auto;
                    color: #222;
                    background-color: transparent;
                    padding-right: 10px;
                    background: none;
                    left: 30px
                }
            }
        
            &:first-child > a {
                padding-left: 53px
            }
          
        }
    }
}