

.dtlms-course-detail.type5 .dtlms-course-curriculum-toggle-group-holder {
    padding: 0 0 0 45px;
    counter-reset: course-counter
}

.dtlms-course-detail.type5 .dtlms-course-curriculum-toggle-group-holder .dtlms-toggle-group-set h5.dtlms-toggle > a {
    padding-left: 48px
}

.dtlms-course-detail.type5 .dtlms-course-curriculum-toggle-group-holder .dtlms-toggle-group-set h5.dtlms-toggle:first-child > a {
    padding-left: 53px
}

.dtlms-course-detail.type5 .dtlms-course-curriculum-toggle-group-holder .dtlms-toggle-group-set h5.dtlms-toggle > a:before {
    counter-increment: course-counter;
    content: counter(course-counter, decimal-leading-zero);
    position: absolute;
    width: auto;
    height: auto;
    color: #222;
    background-color: transparent;
    padding-right: 10px;
    background: none;
    left: 30px
}

.dtlms-course-detail.type5 .dtlms-course-curriculum-toggle-group-holder .dtlms-toggle-group-set h5.dtlms-toggle > a:after {
    content: "";
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 67px;
    float: left;
    background-color: #222
}

.dtlms-course-detail.type5 .dtlms-course-curriculum-toggle-group-holder .dtlms-toggle-group-set h5.dtlms-toggle.active > a:after {
    background-color: #FFF
}

.dtlms-course-detail.type5 .dtlms-course-curriculum-toggle-group-holder .dtlms-toggle-group-set h5.dtlms-toggle.active > a:before {
    color: #FFF
}

.dtlms-course-detail.type5 .dtlms-course-curriculum-toggle-group-holder .dtlms-toggle-group-set:first-child h5.dtlms-toggle > a:after {
    left: 60px
}