
.dtlms-course-detail.type1 .dtlms-course-detail-content.right {
    background-color: #fbfbfb;
    border: 1px solid #f1f1f1;
    padding: 35px 5px;
}

.dtlms-course-detail.type1 .dtlms-course-detail-image {
    margin-bottom: 80px;
}

.dtlms-course-detail.type1 .dtlms-toggle-group-set .dtlms-toggle {
    border-radius: 5px;
}

.dtlms-course-detail.type1 .dtlms-tabs-horizontal-container ul.dtlms-tabs-horizontal {
    background-color: #2f2f2f;
    border: 0;
}

.dtlms-course-detail.type1 .dtlms-tabs-horizontal-container ul.dtlms-tabs-horizontal li a:after {
    display: none;
}

.dtlms-course-detail.type1 .dtlms-tabs-horizontal-container ul.dtlms-tabs-horizontal li a {
    color: #fff;
}

.dtlms-course-detail.type1 div[class$="share-holder"]>span,
.dtlms-course-detail.type1 div[class$="share-holder"] ul {
    display: table-cell;
    vertical-align: middle;
}

.dtlms-course-detail.type1 div[class$="share-holder"] ul li:first-child {
    margin-left: 3px;
}

.dtlms-course-detail.type1 div[class$="share-holder"] ul li a {
    background-color: transparent;
    color: #000;
}

.dtlms-course-detail.type1 .dtlms-course-detail-ratings-breakup {
    margin: 15px 0 0;
}

.dtlms-course-detail.type1 .dtlms-button {
    margin: 0;
}

.dtlms-course-detail .dtlms-course-detail-content .dtlms-coursedetail-cart-details .dtlms-button {
    padding: 12px 20px;
    font-size: 14px;
}

.dtlms-course-detail.type1 div[class$="share-holder"] {
    display: inline-block;
    margin: 30px 10px 0 0;
}

.dtlms-course-detail.type1 .dtlms-forum-button-holder {
    display: inline-block;
    width: auto;
}

