.effect-15~.focus-bg:before,
.effect-15~.focus-bg:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    background-color: #ededed;
    transition: 0.3s;
    z-index: -1;
    &.form-control-elearn {
        border: 1px solid #ededed;
        border-radius: 30px 5px 5px 5px;
        -webkit-border-radius: 30px 5px 5px 5px;
    }
}

.effect-15:focus~.focus-bg:before {
    transition: 0.3s;
    width: 50%;
    left: 0;
    top: 0;
    height: 100%;
}

.effect-15~.focus-bg:after {
    left: auto;
    right: 50%;
    top: auto;
    bottom: 50%;
}

.effect-15:focus~.focus-bg:after {
    transition: 0.3s;
    width: 50%;
    height: 100%;
    bottom: 0;
    right: 0;
}